{% load static %}

{% block css %}

{% endblock %}

{% if items_horario %}

    <h5 class="fw-semibold mb-2 mt-2 text-center">Día seleccionado: <span>{{ fecha }}</span></h5>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Tramo</th>
                <th>Materia</th>
                <th>Unidad</th>
                <th>Aula</th>
                <th>Tarea</th>
            </tr>
            </thead>
            <tbody>

            {% for item in items_horario %}
                <tr data-tramo="{{ item.tramo_num }}" data-materia="{{ item.materia }}" data-unidad="{{ item.unidad }}" data-aula="{{ item.aula }}"
                class="{% if item.guardia_exists %}disabled{% endif %}"
                    {% if item.guardia_exists %}data-toggle="tooltip" data-placement="top" title="Este tramo ya está registrado en el parte de guardia"{% endif %}>
                    <td style="vertical-align: middle;">

                        <div class="form-check fs-xl mb-2">
                            <input type="checkbox" class="form-check-input mt-1 seleccion" name="input[]" data-tramo="{{ item.tramo }}">
                        </div>


                    </td>
                    <td style="vertical-align: middle;">{{ item.tramo }}</td>
                    <td style="vertical-align: middle;">{{ item.materia }}</td>
                    <td style="vertical-align: middle;">{{ item.unidad }}</td>
                    <td style="vertical-align: middle;">{{ item.aula }}</td>
                    <td>
                        <input type="text" class="form-control tarea-input" name="tarea[]" placeholder="Escribe tarea"
                               {% if not item.tarea or item.guardia_exists %}disabled{% endif %}>
                    </td> <!-- Campo de texto para la tarea -->
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
{% else %}
    <h3>No tienes clases asignadas en esa fecha.</h3>
{% endif %}

{% block js %}

    <script>
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('change', '.form-check-input', function () {
                var row = $(this).closest('tr'); // Encuentra la fila actual
                var tareaInput = row.find('.tarea-input'); // Encuentra el campo de texto asociado

                if ($(this).is(':checked')) {
                    tareaInput.prop('disabled', false); // Habilita el input si está marcado
                } else {
                    tareaInput.prop('disabled', true); // Lo deshabilita si está desmarcado
                }
            });
        });

    </script>
{% endblock %}
