<div class="modal fade modal-confirmar-guardia" id="modalconfirmarguardia-{{ tramo }}" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
         <div class="modal-header text-center">
            <h2 class="modal-title">Confirmar guardia</h2>
            <p class="fw-semibold">Confirma que los tiempos asignados a cada profesor/a son los correctos, o ajústalos si es necesario.</p>
            <p class="fw-semibold">Ten en cuenta que el tiempo total NO debe superar los 60 minutos.</p>
         </div>
         <div class="modal-body">

            <div class="table-responsive">
               <table id="profesoresTable" class="table table-bordered table-striped">
                  <thead>
                     <tr>
                        <th>Profesor/a</th>
                        <th>Tiempo asignado (minutos)</th>
                     </tr>
                  </thead>
                  <tbody id="profesoresContainer">
                     <!-- Las filas se agregarán dinámicamente aquí -->
                  </tbody>
               </table>
            </div>
            <hr>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-white" data-bs-dismiss="modal">Cancelar
            </button>
            <button id="btn-confirmar-guardias" type="button" class="btn btn-primary">Confirmar
            </button>
         </div>
      </div>
   </div>
</div>