<div align="center"><strong><font size="4"> COMUNICACIÓN DE TUTORÍA A DIRECCIÓN<br />DEL CENTRO EN RELACIÓN AL ABSENTISMO</font><br />
<br />
<br />
</strong></div>
<div align="center"><font size="3"> <strong>Curso:</strong> {{ protocolo.alumno.Unidad }}</font><br /></div>

<br />
<br />
<br />

Por la presente y en cumplimiento de lo establecido en el artículo 8 de la Orden de 19 de septiembre de 2005, se comunica a la Dirección del Centro la falta de asistencia al centro no justificada de forma regular del alumno/a <strong>{{ protocolo.alumno.Nombre }}</strong> del curso <strong>{{ protocolo.alumno.Unidad }}</strong> registradas a través del control de ausencias.
<br/>
<br/>
Como medida de tutoría de convocó una entrevista con fecha <strong>{{ fecha_convocado }}</strong> a los representantes legales del alumno/a para indagar sobre las posibles causas del absentismo.
<br/>
<br/>
Ante la no justificación de dichas ausencias se comunica tal situación para que la Dirección del Centro proceda a informar por escrito a los padres/madres del alumno/a sobre la derivación a los Servicios Sociales Municipales / Equipos Técnicos de Absentismo Escolar,
<br/>
<br/>
</div>
<br />
<br />
En Dos Hermanas, a <strong>{%now "d"%}</strong> de <strong>{%now "F"%}</strong> de <strong>{%now "Y"%}</strong>  <br />
<br />
<br />
<table>
    
        <tr>
            
            <td>El/la tutor/a<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo: {{ protocolo.tutor }}<br />
           <td>
            </td>
        </tr>
    
</table>
<br />
<br />
<br />
<br />
