<div align="center"><strong><font size="4"> INFORMACIÓN A LAS FAMILIAS SOBRE SITUACIÓN DE ABSENTISMO</font><br />
<br />
<br />
<br />
</strong></div>
A/A Sres. {{ destinatarios }},
<br/><br/>
Por la presente, en calidad de tutor/a y en cumplimiento de lo establecido en la ORDEN de 19 de septiembre de 2005, se informa a los padres/madres/representantes legales que deben <strong>justificar los motivos de faltas de asistencia al centro</strong> de forma regular y continuada del alumno/a <strong>{{ protocolo.alumno.Nombre }}</strong>, del grupo <strong>{{ protocolo.alumno.Unidad }}</strong>, registradas a través del control de ausencias.
<br/>
Si no manifiestan motivos de enfermedad o causa mayor que justifique la ausencia, se les <strong>convoca a una entrevista</strong> el próximo día <strong>{{ dia_reunion }} de {{ mes_reunion }} a las {{ hora_reunion }} horas</strong> para adoptar las medidas conjuntas necesarias para erradicar tal situación.
<br/>
</div>
<br />
<br />
En Dos Hermanas, a <strong>{%now "d"%}</strong> de <strong>{%now "F"%}</strong> de <strong>{%now "Y"%}</strong>  <br />
<br />
<br />
<table>
    
        <tr>
            
            <td>El/la tutor/a<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo: {{ protocolo.tutor }}<br />
           <td>
            </td>
        </tr>
    
</table>
<br />
<br />
<br />
<br />
---------------------------------------------------------------------------------------------------------------------------------------------------------------
<br />
<br />
<br />
	Recibí con fecha _______ de _______________________ de ______.
<br />
<br />
    Nombre y firma del padre/madre/representante legal.