<div align="center"><strong><font size="4"> INFORMACIÓN A LAS FAMILIAS SOBRE SITUACIÓN DE ABSENTISMO</font><br />
<br />
<br />
<br />
</strong></div>
A/A Sres. {{ destinatarios }},
<br/><br/>
Dadas las continuas faltas de asistencia al Centro Educativo de su hijo/a <strong>{{ protocolo.alumno.Nombre }}</strong>, del grupo <strong>{{ protocolo.alumno.Unidad }}</strong>,
<br/><br/>
Les recuerdo la obligación legal que tienen los padres y las madres o tutores legales de asegurar la asistencia de los menores al centro escolar en las etapas de escolarización obligatoria (de 6 a 16 años) y la obligación de justificar ante el centro todas las faltas de asistencia, con independencia de las causas de las mismas.
<br/><br/>
Por este motivo se <strong>cita a una reunión</strong> para el día <strong>{{ dia_reunion }} de {{ mes_reunion }} a las {{ hora_reunion }} horas</strong>, a fin de normalizar la asistencia de su hijo/a a clase, tan importante para su desarrollo, no solo educativo, sino también personal.
<br/><br/>
Del mismo modo le comunicamos que, en el caso de que usted no acudiera a la mencionada entrevista y persistieran las faltas de asistencia, el Centro deberá informar de la situación escolar de su hijo/a a los Servicios Sociales Municipales y Organismos dependientes de la Administración Pública con competencia en la materia, conforme al Decreto 155/1997, de 10 de junio, por el que se regula la Cooperación de entidades locales en le vigilancia del cumplimiento de la escolarización obligatoria.
<br/><br/>
En caso de tener dificultad en acudir el día que le he indicado, puede llamar al teléfono 955 839 911 y preguntar por el <strong>Jefe de Estudios</strong> del centro, indicando el motivo de su llamada.
</div>
<br />
<br />
En Dos Hermanas, a <strong>{%now "d"%}</strong> de <strong>{%now "F"%}</strong> de <strong>{%now "Y"%}</strong>  <br />
<br />
<br />
<table>
    
        <tr>
            
            <td>Jefatura de Estudios<br />
            <br />
            <br />
            <br />
            <br />
            <br />
            Fdo: {{ nombre_jefe }}<br />
           <td>
            </td>
        </tr>
    
</table>
<br />
<br />
<br />
<br />
---------------------------------------------------------------------------------------------------------------------------------------------------------------
<br />
<br />
<br />
	Recibí con fecha _______ de _______________________ de ______.
<br />
<br />
    Nombre y firma del padre/madre/representante legal.