{% extends "base.html" %}
{% load static %}
{% load horario_tags %}


{% block title %}Aulas Libres{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="page-title-head d-flex align-items-center mb-3">
        <div class="flex-grow-1">
            <h4 class="fs-sm text-uppercase fw-bold m-0">Aulas Libres</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">

                    {% if aulas_libres %}
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="text-center">
                                    <th class="bg-secondary text-white">TRAMO</th>
                                    <th class="bg-secondary text-white">LUNES</th>
                                    <th class="bg-secondary text-white">MARTES</th>
                                    <th class="bg-secondary text-white">MIÉRCOLES</th>
                                    <th class="bg-secondary text-white">JUEVES</th>
                                    <th class="bg-secondary text-white">VIERNES</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tramo in tramos %}
                                    {% if tramo == "RECREO" %}
                                        <tr class="bg-warning-subtle" data-tramo="{{ tramo }}">
                                    {% else %}
                                        <tr data-tramo="{{ tramo }}">
                                    {% endif %}

                                    <td class="bg-info text-center text-white" style="vertical-align: middle;"><strong>{{ tramo }}</strong></td>
                                    {% for dia in dias %}
                                        <td class="text-center" style="vertical-align: middle; border: 1px solid #000000;">
                                            {% if aulas_libres|get_item:forloop.parentloop.counter|get_item:dia %}
                                                {% for aula in aulas_libres|get_item:forloop.parentloop.counter|get_item:dia %}
                                                    <span class="simple_tag">{{ aula }}</span><br>
                                                {% endfor %}
                                            {% else %}
                                                No hay aulas libres
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No se encontraron aulas libres.</p>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block js %}

<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#profesor").select2({
            theme: 'bootstrap4',
        });
    });
</script>
{% endblock %}