{% extends "base.html" %}
{% load static %}
{% load horario_tags %}

{% block title %}Centro{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Mi horario</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        {% if horario %}
                                    <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr class="text-center">
                                            <th class="bg-secondary text-white">TRAMO</th>
                                            <th class="bg-secondary text-white">LUNES</th>
                                            <th class="bg-secondary text-white">MARTES</th>
                                            <th class="bg-secondary text-white">MIÉRCOLES</th>
                                            <th class="bg-secondary text-white">JUEVES</th>
                                            <th class="bg-secondary text-white">VIERNES</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tramo in tramos %}
                                            {% if tramo == "RECREO" %}
                                            <tr class="bg-warning-subtle">
                                            {% else %}
                                            <tr>
                                            {% endif %}

                                                <td class="bg-info text-center text-white" style="vertical-align: middle;"><strong>{{ tramo }}</strong></td>
                                                {% for dia in dias %}
                                                    <td class="text-center" style="vertical-align: middle; border: 1px solid #000000;">
                                                        {% if horario %}
                                                            {% if horario|get_item:forloop.parentloop.counter %}
                                                                {% if horario|get_item:forloop.parentloop.counter|get_item:dia %}
                                                                    {% for item in horario|get_item:forloop.parentloop.counter|get_item:dia %}
                                                                        <strong><span class="simple_tag">{{ item.materia }}</span></strong>
                                                                        {% if item.materia != "GUARDIAS" and item.materia != "GUARDIAS DE RECREO" %}
                                                                            <br><br>
                                                                            <small>
                                                                                <span class="text-secondary">{{ item.unidades_combinadas }}</span>
                                                                                - <span
                                                                                    class="text-danger">{{ item.aula }}</span>
                                                                            </small><br>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            {% else %}
                                                                -
                                                            {% endif %}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                                {% else %}
                                    <p>Selecciona un profesor para ver su horario.</p>
                                {% endif %}

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div> <!-- end row-->

    </div>
    <!-- container -->
{% endblock %}

