{% extends "base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="dynamic-content">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h2>Búsqueda general de alumnos/as</h2>
                    </div>
                    <div class="ibox-content">
                        {% if resultados %}
                            <h3>
                                {{ num_resultados }} resultado/s encontrado/s para: <span class="text-navy">“{{ query }}”</span>
                            </h3>
                            <small>Tiempo búsqueda ({{ tiempo_busqueda }} segundos)</small>
                        {% endif %}
                        <div class="search-form">

                            <form method="post" action="{% url 'busqueda' %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="text" name="q" class="form-control"
                                           placeholder="Buscar por Nombre, DNI, NIE o email"
                                           value="{{ query }}" aria-label="Buscar por Nombre, DNI, NIE o email"
                                           aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="hr-line-dashed"></div>


                        <!-- Resultados de búsqueda -->
                        {% if resultados %}
                            <h2>Resultados de la búsqueda</h2>
                            <ul>
                                {% for alumno in resultados %}

                                    <div class="forum-item active">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="/convivencia/historial/{{ alumno.id }}/" class="forum-item-title">{{ alumno.Nombre }} {% if alumno.PDC %} (PDC){% endif %} {% if alumno.NEAE %} (NEAE){% endif %}</a>
                                                <div class="forum-sub-title">Fecha de
                                                    nacimiento: {{ alumno.Fecha_nacimiento|date:"d/m/Y" }}
                                                </div>
                                            </div>
                                            <div class="col-md-2 forum-info">
                                        <span class="views-number">
                                            {% if alumno.Unidad %}
                                                {{ alumno.Unidad }}
                                            {% else %}
                                                Sin asignar
                                            {% endif %}
                                        </span>
                                                <div>
                                                    <small>Unidad</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2 forum-info">
                                        <span class="views-number">
                                            {% if alumno.DNI %}
                                                {{ alumno.DNI }}
                                            {% else %}
                                                - - -
                                            {% endif %}
                                        </span>
                                                <div>
                                                    <small>DNI</small>
                                                </div>
                                            </div>
                                            <div class="col-md-2 forum-info">
                                        <span class="views-number">
                                            {% if alumno.NIE %}
                                                {{ alumno.NIE }}
                                            {% else %}
                                                - - -
                                            {% endif %}
                                        </span>
                                                <div>
                                                    <small>NIE</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </ul>
                        {% elif query %}
                            <p>No se encontraron resultados para la búsqueda "{{ query }}".</p>
                        {% else %}

                            <p>Empieza a buscar</p>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <script>

        // Upgrade button class name
        $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-white btn-sm';

        $(document).ready(function () {
            $(".select2_unidad").select2({
                theme: 'bootstrap4',
            });

            $('.dataTables-alumnos').DataTable({
                language: {
                    url: '{% static 'js/plugins/dataTables/es-ES.json' %}',
                },
                pageLength: 50,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'Alumnos'},
                    {extend: 'pdf', title: 'Alumnos'},

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                columnDefs: [
                    {type: 'num', targets: 0},  // Indica que la primera columna (índice 0) es de tipo numérico
                ]

            });

        });

    </script>
{% endblock %}

