{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Búsqueda general de alumnado</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-block">
                        <div class="text-center w-md-75 w-xl-50 mx-auto py-3">
                            <form method="post" action="{% url 'busqueda' %}">
                                {% csrf_token %}
                                <div class="app-search app-search-pill input-group mb-3 rounded-pill">

                                    <input type="text" name="q"
                                           class="form-control bg-light-subtle border-light py-2 fw-semibold"
                                           value="{{ query }}" placeholder="Buscar por Nombre, DNI, NIE o email...">
                                    <i data-lucide="search" class="app-search-icon text-muted"></i>
                                    <button class="btn btn-secondary" type="submit">Buscar</button>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-header border-light justify-content-between">
                        <h4 class="fst-italic text-muted mb-0">
                            Encontrados <span class="fw-bold badge badge-soft-danger">{{ num_resultados }}</span>
                            resultados para <span class="text-dark">"{{ query }}"</span>
                            <small>Tiempo búsqueda ({{ tiempo_busqueda }} segundos)</small>
                        </h4>

                    </div>


                    <div class="card-body p-0">
                        <h3 class="px-4 py-3 fw-semibold text-primary">Alumnos/as actuales</h3>
                        {% for alumno in resultados_actuales %}
                            <!-- Aquí va el bloque que tienes del alumno -->
                            <div class="border-bottom border-dashed px-4 py-3">
                                <div class="forum-item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="fs-md mb-1">
                                                <a href="/convivencia/historial/{{ alumno.id }}/"
                                                   class="forum-item-title">{{ alumno.Nombre }} {% if alumno.PDC %}
                                                    (PDC){% endif %} {% if alumno.NEAE %} (NEAE){% endif %}</a>

                                            </h4>
                                            <div class="forum-sub-title">Fecha de
                                                nacimiento: {{ alumno.Fecha_nacimiento|date:"d/m/Y" }}
                                            </div>
                                            <div class="forum-sub-title">Teléfono 1: {{ alumno.Telefono1 }}
                                            </div>
                                            <div class="forum-sub-title">Teléfono 2: {{ alumno.Telefono2 }}
                                            </div>
                                        </div>

                                        <div class="col-md-2 forum-info">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {{ alumno.edad_actual }} años
                                            </h4>
                                            <div class="text-muted text-uppercase mb-2 fw-semibold">
                                                <p>Edad actual</p>
                                            </div>
                                        </div>

                                        <div class="col-md-2 forum-info">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {% if alumno.Unidad %}
                                                    {{ alumno.Unidad }}
                                                {% else %}
                                                    Sin asignar
                                                {% endif %}
                                            </h4>
                                            <div class="text-muted text-uppercase mb-2 fw-semibold">
                                                <p>Unidad</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 forum-info">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {% if alumno.DNI %}
                                                    {{ alumno.DNI }}
                                                {% else %}
                                                    - - -
                                                {% endif %}
                                            </h4>
                                            <div>
                                                <p class="text-muted text-uppercase mb-2 fw-semibold">DNI</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {% if alumno.NIE %}
                                                    {{ alumno.NIE }}
                                                {% else %}
                                                    - - -
                                                {% endif %}
                                            </h4>
                                            <div>
                                                <p class="text-muted text-uppercase mb-2 fw-semibold">NIE</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="px-4 py-3">No se encontraron alumnos actuales.</p>
                        {% endfor %}

                        <h3 class="px-4 py-3 fw-semibold text-secondary">Antiguos alumnos/as</h3>
                        {% for alumno in resultados_antiguos %}
                            <div class="border-bottom border-dashed px-4 py-3">
                                <div class="forum-item active">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="fs-md mb-1">
                                                <a href="/convivencia/historial/{{ alumno.id }}/"
                                                   class="forum-item-title">{{ alumno.Nombre }} {% if alumno.PDC %}
                                                    (PDC){% endif %} {% if alumno.NEAE %} (NEAE){% endif %}</a>

                                            </h4>
                                            <div class="forum-sub-title">Fecha de
                                                nacimiento: {{ alumno.Fecha_nacimiento|date:"d/m/Y" }}
                                            </div>
                                            <div class="forum-sub-title">Teléfono 1: {{ alumno.Telefono1 }}
                                            </div>
                                            <div class="forum-sub-title">Teléfono 2: {{ alumno.Telefono2 }}
                                            </div>
                                        </div>

                                        <div class="col-md-2 forum-info">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {{ alumno.edad_actual }} años
                                            </h4>
                                            <div class="text-muted text-uppercase mb-2 fw-semibold">
                                                <p>Edad actual</p>
                                            </div>
                                        </div>

                                        <div class="col-md-2 forum-info">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {% if alumno.Unidad %}
                                                    {{ alumno.Unidad }}
                                                {% else %}
                                                    Sin asignar
                                                {% endif %}
                                            </h4>
                                            <div class="text-muted text-uppercase mb-2 fw-semibold">
                                                <p>Unidad</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 forum-info">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {% if alumno.DNI %}
                                                    {{ alumno.DNI }}
                                                {% else %}
                                                    - - -
                                                {% endif %}
                                            </h4>
                                            <div>
                                                <p class="text-muted text-uppercase mb-2 fw-semibold">DNI</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h4 class="link-dark fw-semibold lh-sm d-block">
                                                {% if alumno.NIE %}
                                                    {{ alumno.NIE }}
                                                {% else %}
                                                    - - -
                                                {% endif %}
                                            </h4>
                                            <div>
                                                <p class="text-muted text-uppercase mb-2 fw-semibold">NIE</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="px-4 py-3">No se encontraron antiguos alumnos.</p>
                        {% endfor %}
                    </div>
                    


                </div> <!-- end card-->
            </div> <!-- end col-->
        </div> <!-- end row-->

    </div>
    <!-- container -->
{% endblock %}

