{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Importar materias impartidas</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label><strong>Archivo CSV:</strong></label>
        <input type="file" name="csv_materias_impartidas" accept=".csv">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Importar</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
