{% extends "base_menu.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Búsqueda</h5>
                </div>
                <div class="ibox-content">
                    <form action="/centro/profesores" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-lg-12">
                                {{ form.as_p }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--<a href="/usuarios/add"><button type="submit" class="btn btn-primary">Nuevo usuario</button></a>
    <a href="/usuarios/tipo"><button type="submit" class="btn btn-primary">Asignar Tipo</button></a>-->

    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="float-right">
                        <a href="/pdf/profesores" class="btn btn-sm btn-info"><i class="fa fa-print"></i> Imprimir lista
                            de profesores </a>
                        <a href="/pdf/claustro" class="btn btn-sm btn-info"><i class="fa fa-id-card-o"></i> Imprimir
                            asistencia al Claustro </a>
                        <a href="/pdf/semana" class="btn btn-sm btn-info"><i class="fa fa-calendar-check-o "></i>
                            Imprimir asistencia por semana </a>
                    </div>
                    <h2>Gestión de profesores ({{ departamento }})</h2>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-profesores">
                            <thead>
                            <tr>
                                <th class="text-center">N.</th>
                                <th>Nombre</th>
                                <th class="text-center">Teléfono</th>
                                <th class="text-center">Móvil</th>
                                <th>Email</th>
                                <th class="text-center">Activo/a</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for prof,curso in profesores %}
                                <tr>

                                    <td class="text-center">{{ forloop.counter }}</td>


                                    <td><strong>{{ prof.Apellidos }}, {{ prof.Nombre }}</strong>
                                        ({{ prof.Departamento.Nombre }})<br/>{{ curso }}</td>

                                    <td class="text-center">{{ prof.Telefono }}</td>
                                    <td class="text-center">{{ prof.Movil }}</td>
                                    <td>{{ prof.Email }}</td>

                                    {% if prof.Baja %}
                                        <td class="text-center" data-order="1">
                                            <a style="color: inherit;"
                                               href="/centro/profesores/change/Baja/{{ prof.id }}/off">
                                    <span style="color: red;">
                                          <i class="fa fa-times"></i>
                                        </span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td class="text-center" data-order="0">
                                            <a style="color: inherit;"
                                               href="/centro/profesores/change/Baja/{{ prof.id }}/on">
                                    <span style="color: green;">
                                          <i class="fa fa-check"></i>
                                        </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/plugins/select2/select2.full.min.js' %}"></script>
    <script>

        // Upgrade button class name
        $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-white btn-sm';

        $(document).ready(function () {
            $(".select2_area").select2({
                theme: 'bootstrap4',
            });

            $(".select2_departamento").select2({
                theme: 'bootstrap4',
            });

            var tableProfes = $('.dataTables-profesores').DataTable({
                language: {
                    url: '{% static 'js/plugins/dataTables/es-ES.json' %}',
                },
                pageLength: 50,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'Profesores'},
                    {extend: 'pdf', title: 'Profesores'},

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    },
                    {
                        text: 'Mostrar solo activos/as',
                        className: '',
                        action: function (e, dt, button, config) {
                            // Variable para almacenar si estamos mostrando solo activos o todos
                            var showingActives = button.text() === 'Mostrar solo activos/as';

                            if (showingActives) {
                                // Filtro para mostrar solo los profesores activos
                                $.fn.dataTable.ext.search.push(
                                    function (settings, data, dataIndex) {
                                        // Índice de la columna 'Baja'
                                        var bajaColIndex = 5;
                                        // Obtenemos el contenido de la columna
                                        var bajaData = $(dt.row(dataIndex).node()).find('td:eq(' + bajaColIndex + ')').data('order');
                                        // Devolvemos true para mostrar la fila si está activa (data-order = 0)
                                        return bajaData == 0;
                                    }
                                );
                                button.text('Mostrar todos/as');
                            } else {
                                // Quitamos el filtro personalizado
                                $.fn.dataTable.ext.search.pop();
                                button.text('Mostrar solo activos/as');
                            }

                            // Redibujamos la tabla con el nuevo filtro
                            dt.draw();
                        }
                    }
                ],
                columnDefs: [
                    {type: 'num', targets: 0},  // Indica que la primera columna (índice 0) es de tipo numérico
                ]

            });

        })
        ;

    </script>
{% endblock %}