{% extends "base.html" %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h2>Alumnado con amonestaciones vivas pendiente de sanción</h2>
                    </div>
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                            <tr>
                                <th>Alumno/a</th>
                                <th>Unidad</th>
                                <th class="text-center">Leves</th>
                                <th class="text-center">Graves</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a, leves, graves, total in alumnado %}
                                <tr
                                        {% if total < 6 and graves >= 2 %} class="bg-warning" {% endif %}
                                        {% if total >= 6 and total <= 8 %} class="bg-warning" {% endif %}
                                        {% if total >= 9 and total <= 12 %} class="bg-info" {% endif %}
                                        {% if total > 12 %} class="bg-danger" {% endif %}
                                >
                                    <td>
                                        <a href="/convivencia/historial/{{ a.id }}/"><strong class="text-light">{{ a.Nombre }}</strong> {% if a.PDC %} (PDC){% endif %} {% if a.NEAE %} (NEAE){% endif %}</a>
                                    </td>
                                    <td><a href="/centro/alumnos/{{ a.Unidad.id }}" class="text-light">{{ a.Unidad }}</a></td>
                                    <td class="text-center">
                                        {{ leves }}
                                    </td>

                                    <td class="text-center">{{ graves }}</td>
                                    <td class="text-center">{{ total }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>


                    </div>
                </div>
            </div>
        </div>


    </div>




{% endblock %}

{% block js %}
    <script>

        $(document).ready(function () {
            $('.footable').footable();
        });

    </script>
{% endblock %}