{% extends "base.html" %}
{% load grupo_tags %}
{% load static %}

{% block title %}Centro{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h2>Alumnado con amonestaciones vivas pendiente de sanción</h2>
                    </div>
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                            <tr>
                                <th>Alumno/a</th>
                                <th>Unidad</th>
                                <th class="text-center">Leves</th>
                                <th class="text-center">Graves</th>
                                <th class="text-center">Peso</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alum, l, g, p, prop in alumnado %}
                                <tr
                                    {% if 4 <= p and p <= 5 %}
                                        class="bg-info"
                                    {% elif 5 < p and p <= 7 %}
                                        class="bg-warning"
                                    {% else %}
                                        class="bg-danger"
                                    {% endif %}
                                >
                                    <td>
                                        <a href="/convivencia/historial_vigente/{{ alum.id }}/"><strong class="text-light">{{ alum.Nombre }}</strong> {% if alum.PDC %} (PDC){% endif %} {% if alum.NEAE %} (NEAE){% endif %}</a>
                                    </td>
                                    <td><a href="/centro/alumnos/{{ alum.Unidad.id }}" class="text-light">{{ alum.Unidad }}</a></td>
                                    <td class="text-center">
                                        {{ l }}
                                    </td>

                                    <td class="text-center">{{ g }}</td>
                                    <td class="text-center">{{ p }}</td>
                                    <td class="text-center">
{#                                        <a href="/convivencia/ignorar/{{ prop }}" class="btn btn-dark"> Ignorar propuesta </a> </td>#}
                                        <a href="{% url 'ignorar' prop %}" class="btn btn-dark"> Ignorar propuesta </a>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>


                    </div>
                </div>
            </div>
        </div>


    </div>




{% endblock %}

{% block js %}
    <script src="{% static 'js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            $('.footable').footable();

            // Manejar el evento click en botones "Ignorar propuesta"
            $('.btn-dark').on('click', function (e) {
                e.preventDefault(); // Detener la navegación del enlace por defecto

                const link = $(this).attr('href'); // Obtener la URL del enlace

                Swal.fire({
                    title: 'Confirmar acción',
                    text: '¿Seguro que desea ignorar esta propuesta de sanción?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Ignorar esta propuesta',
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si el usuario confirma, redirigir al enlace
                        window.location.href = link;
                    }
                });
            });
        });

    </script>
{% endblock %}