{% extends "base.html" %}
{% load grupo_tags %}
{% load custom_tags %}

{% block title %}Centro{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="float-right">
                            <a href="/convivencia/amonestacion/{{ alum.id }}" class="btn btn-warning"><i class="fa fa-exclamation-triangle"></i> Amonestar </a>
                            <a href="/convivencia/sancion/{{ alum.id }}" class="btn btn-danger"><i class="fa fa-exclamation-triangle"></i> Sancionar </a>
                        </div>

                        <h2>Historial Alumno</h2>
                    </div>
                    <div class="ibox-content">
                        <h4>{{ alum.Nombre }} ({{ alum.Unidad }})</h4>
                        {% if historial_actual %}
                            {% if prof %}
                                <a href="/convivencia/historial/{{ alum.id }}/n">Mostrar historial sin datos de
                                    profesores</a>
                            {% else %}
                                <a href="/convivencia/historial/{{ alum.id }}/">Mostrar historial con datos de
                                    profesores</a>
                            {% endif %}
                            <br/>
                            <br/>


                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>
                                    <th data-toggle="true">N.</th>
                                    <th>Tipo</th>
                                    <th>Fecha</th>
                                    <th data-hide="all">Comentario</th>
                                    <th data-hide="all">Tipo</th>
                                    <th data-hide="phone">Tramo horario</th>
                                    <th data-hide="phone">Sanción</th>
                                    <th data-hide="all">Derivado a Convivencia</th>
                                    <th data-hide="all">Comunicado a</th>
                                    <th data-hide="all">Fecha comunicación</th>
                                    <th data-hide="all">Medio</th>
                                    <th data-hide="all">Teléfono</th>
                                    <th data-hide="all">Observaciones</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for h,t,n in historial_actual %}
                                    <tr
                                            {% if t == 'Amonestación' and not h.vigente %} class="bg-warning"{% endif %}
                                            {% if t == 'Sanción' %} class="bg-danger"{% endif %}
                                    >
                                        <td>
                                            {{ n }}
                                        </td>
                                        <td>
                                            {% if t == 'Amonestación' %}
                                                {% if h.Tipo.TipoFalta == 'G' %}
                                                <span class="label label-warning-warning">Amonestación Grave</span>
                                                    {% else %}
                                                    <span class="label label-warning">Amonestación Leve</span>
                                                    {% endif %}
                                            {% elif t == 'Sanción' %}
                                                <span class="label label-danger">{{ t }}</span>
                                            {% endif %}

                                        </td>
                                        {% if h.Fecha_fin %}
                                            <td>{{ h.Fecha|date:"d/m/Y" }} - {{ h.Fecha_fin|date:"d/m/Y" }}</td>
                                        {% else %}
                                            <td>{{ h.Fecha|date:"d/m/Y" }}</td>
                                        {% endif %}



                                        {% if h.Profesor and prof %}
                                            <td><strong>{{ h.Profesor }}
                                                ({{ horas|slice:h.Hora|last }})</strong><br/>{{ h.Comentario }}
                                            </td>

                                        {% else %}
                                            <td> {{ h.Comentario }}</td>
                                        {% endif %}

                                        <td>{{ h.Tipo }}</td>

                                        {% if h.Profesor %}
                                            <td>{{ horas|slice:h.Hora|last }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if h.Sancion %}
                                            {% if h.NoExpulsion %}
                                                <td>{{ h.Sancion }}<br/><strong>No expulsión</strong></td>
                                            {% else %}
                                                <td>{{ h.Sancion }}</td>

                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if h.DerivadoConvivencia %}
                                            <td>SÍ</td>
                                        {% else %}
                                            <td>NO</td>
                                        {% endif %}
                                        <td> {{ h.FamiliarComunicado }}</td>
                                        <td> {{ h.FechaComunicado|date:"d/m/Y" }} {{ h.HoraComunicado }}</td>
                                        <td> {{ h.get_Medio_display }}</td>
                                        <td> {{ h.TelefonoComunicado }}</td>
                                        <td> {{ h.ObservacionComunicado }}</td>


                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <p>No hay historial para este alumno/a</p>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>

        {% if user|has_group:"profesor" or user|has_group:"jefatura de estudios" %} <!-- Cambiar a jefatura de estudios y tutor -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h2>Historial de Cursos Académicos anteriores</h2>
                        </div>
                        <div class="ibox-content">
                            {% for curso, historial in historial_anteriores.items %}

                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3>{{ curso }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="footable table table-stripped toggle-arrow-tiny"
                                               data-page-size="15">
                                            <thead>
                                            <tr>
                                                <th data-toggle="true">N.</th>
                                                <th>Tipo</th>
                                                <th>Fecha</th>
                                                <th data-hide="all">Comentario</th>
                                                <th data-hide="all">Tipo</th>
                                                <th data-hide="phone">Tramo horario</th>
                                                <th data-hide="phone">Sanción</th>
                                                <th data-hide="all">Derivado a Convivencia</th>
                                                <th data-hide="all">Comunicado a</th>
                                                <th data-hide="all">Fecha comunicación</th>
                                                <th data-hide="all">Medio</th>
                                                <th data-hide="all">Teléfono</th>
                                                <th data-hide="all">Observaciones</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for h,t,n in historial %}
                                                <tr>
                                                    <td>
                                                        {{ n }}
                                                    </td>
                                                    <td>
                                                        {% if t == 'Amonestación' %}
                                                            {% if h.Tipo.TipoFalta == 'G' %}
                                                            <span class="label label-warning-warning">Amonestación Grave</span>
                                                                {% else %}
                                                                <span class="label label-warning">Amonestación Leve</span>
                                                                {% endif %}
                                                        {% elif t == 'Sanción' %}
                                                            <span class="label label-danger">{{ t }}</span>
                                                        {% endif %}

                                                    </td>
                                                    {% if h.Fecha_fin %}
                                                        <td>{{ h.Fecha|date:"d/m/Y" }}
                                                            - {{ h.Fecha_fin|date:"d/m/Y" }}</td>
                                                    {% else %}
                                                        <td>{{ h.Fecha|date:"d/m/Y" }}</td>
                                                    {% endif %}



                                                    {% if h.Profesor and prof %}
                                                        <td><strong>{{ h.Profesor }}
                                                            ({{ horas|slice:h.Hora|last }})</strong><br/>{{ h.Comentario }}
                                                        </td>

                                                    {% else %}
                                                        <td> {{ h.Comentario }}</td>
                                                    {% endif %}
                                                    <td>{{ h.Tipo }}</td>
                                                    {% if h.Profesor %}
                                                        <td>{{ horas|slice:h.Hora|last }}</td>
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}

                                                    {% if h.Sancion %}
                                                        {% if h.NoExpulsion %}
                                                            <td>{{ h.Sancion }}<br/><strong>No expulsión</strong>
                                                            </td>
                                                        {% else %}
                                                            <td>{{ h.Sancion }}</td>

                                                        {% endif %}
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}

                                                    {% if h.DerivadoConvivencia %}
                                                        <td>SÍ</td>
                                                    {% else %}
                                                        <td>NO</td>
                                                    {% endif %}

                                                    <td> {{ h.FamiliarComunicado }}</td>
                                                    <td> {{ h.FechaComunicado|date:"d/m/Y" }} {{ h.HoraComunicado }}</td>
                                                    <td> {{ h.get_Medio_display }}</td>
                                                    <td> {{ h.TelefonoComunicado }}</td>
                                                    <td> {{ h.ObservacionComunicado }}</td>


                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="6">
                                                    <ul class="pagination float-right"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


    </div>




{% endblock %}

{% block js %}
    <script>

        $(document).ready(function () {
            $('.footable').footable();
        });

    </script>
{% endblock %}