{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}

{% block css %}

    <!-- Datatables css -->
    <link href="{% static 'plugins/datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Datepicker Plugin CSS -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}" type="text/css">

{% endblock %}




{% block content %}


    <div class="container-fluid">
        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Historial Completo Alumno/a</h4>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-lg-12">
                <form class="bg-light-subtle rounded border p-3">
                    <div class="row gap-3">
                        <div class="col">
                            <div class="row gap-3">
                                <div class="col-lg-12">
                                    <h3 class="fw-semibold">{{ alum.Nombre }} ({{ alum.Unidad|default:"Sin unidad"  }})</h3>
                                    <div class="forum-sub-title">Teléfono 1: {{ alum.Telefono1 }}
                                            </div>
                                        <div class="forum-sub-title">Teléfono 2: {{ alum.Telefono2 }}
                                            </div>
                                </div>

                            </div>
                        </div>

                        <!-- Layout toggle (grid/list) -->
                        <div class="col-auto">
                            <div role="group" aria-label="Layout toggle button group">
                                <a href="/convivencia/historial_vigente/{{ alum.id }}/"
                                   class="btn btn-secondary btn-sm"><i class="ti ti-file me-1"></i> Ver historial
                                    vigente</a>
                                <a href="/calendario/amonestaciones/{{ alum.id }}/" class="btn btn-info btn-sm"><i
                                        class="ti ti-calendar me-1"></i> Ver calendario </a>
                                <a href="/convivencia/amonestacion/{{ alum.id }}" class="btn btn-warning btn-sm"><i
                                        class="ti ti-alert-triangle me-1"></i> Amonestar </a>
                                {% if user|has_group:"jefatura de estudios" %}
                                    <a href="/convivencia/sancion/{{ alum.id }}" class="btn btn-danger btn-sm"><i
                                            class="ti ti-alert-hexagon me-1"></i> Sancionar </a>
                                    <a href="/pdf/historial/{{ alum.id }}/n" target="_blank"
                                       class="btn btn-success btn-sm"><i class="ti ti-printer me-1"></i> Imprimir
                                        historial</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div data-table data-table-rows-per-page="20" class="card">
                    <div class="card-header border-light justify-content-between">


                    </div>

                    <div class="card-body">
                        <table id="child-rows-data" class="table dt-responsive align-middle mb-0">
                            <thead class="thead-sm text-uppercase fs-xxs">
                            <tr>
                                <th></th>
                                <th>N.</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Tramo Horario</th>
                                <th>Sanción</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for h,t,n in historial_actual %}
                                <tr
                                        {% if t == 'Amonestación' and not h.vigente %}
                                            class="bg-warning bg-opacity-90 text-white"{% endif %}
                                        {% if t == 'Sanción' %} class="bg-danger bg-opacity-90 text-white"{% endif %}

                                            data-profesor="{{ h.Profesor|default:'' }}"
                                            {% if h.Profesor %}data-hora="{{ horas|slice:h.Hora|last }}"{% endif %}
                                            data-comentario="{{ h.Comentario }}"
                                            data-tipo="{{ h.Tipo }}"
                                            data-derivado="{{ h.DerivadoConvivencia|yesno:"SÍ,NO" }}"
                                            data-familiar="{{ h.FamiliarComunicado }}"
                                            data-fecha="{{ h.FechaComunicado|date:"d/m/Y" }}"
                                            data-hora-comunicado="{{ h.HoraComunicado }}"
                                            data-medio="{{ h.get_Medio_display }}"
                                            data-telefono="{{ h.TelefonoComunicado }}"
                                            data-observacion="{{ h.ObservacionComunicado }}"
                                            data-id="{{ h.id }}">
                                    <td class="dt-control dt-child-rows-btn dtr-control "><i
                                            class="ti ti-square-rounded-plus-filled text-primary align-middle fs-22"></i>
                                    </td>
                                    <td class="sorting_1 {% if t == 'Amonestación' and not h.vigente or t == 'Sanción' %} text-white {% endif %}">{{ n }}</td>

                                    <td>
                                        {% if t == 'Amonestación' %}
                                            {% if h.Tipo.TipoFalta == 'G' %}
                                                <span class="badge badge-label text-bg-warning-warning">Amonestación Grave</span>
                                            {% else %}
                                                <span class="badge badge-label text-bg-warning">Amonestación Leve</span>
                                            {% endif %}
                                        {% elif t == 'Sanción' %}
                                            <span class="badge badge-label text-bg-danger">Sanción</span>
                                        {% endif %}

                                    </td>
                                    {% if h.Fecha_fin %}
                                        <td {% if t == 'Amonestación' and not h.vigente or t == 'Sanción' %} class="text-white" {% endif %}>{{ h.Fecha|date:"d/m/Y" }} - {{ h.Fecha_fin|date:"d/m/Y" }}</td>
                                    {% else %}
                                        <td {% if t == 'Amonestación' and not h.vigente or t == 'Sanción' %} class="text-white" {% endif %}>{{ h.Fecha|date:"d/m/Y" }}</td>
                                    {% endif %}

                                    {% if h.Profesor %}
                                        <td {% if t == 'Amonestación' and not h.vigente or t == 'Sanción' %} class="text-white" {% endif %}>{{ horas|slice:h.Hora|last }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    {% if h.Sancion %}
                                        {% if h.NoExpulsion %}
                                            <td {% if t == 'Amonestación' and not h.vigente or t == 'Sanción' %} class="text-white" {% endif %}>{{ h.Sancion }}<br/><strong>No expulsión</strong></td>
                                        {% else %}
                                            <td {% if t == 'Amonestación' and not h.vigente or t == 'Sanción' %} class="text-white" {% endif %}>
                                                {{ h.Sancion }}
                                            </td>

                                        {% endif %}
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div> <!-- end card-body-->

                </div>
                <div class="card-footer border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div data-table-pagination-info="projects"></div>
                        <div data-table-pagination></div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->


        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Historial de cursos académicos anteriores</h4>
            </div>
        </div>


        {% for curso, historial in historial_anteriores.items %}

            <div class="row">
                <div class="col-12">
                    <div data-table data-table-rows-per-page="20" class="card">
                        <div class="card-header border-light justify-content-between text-bg-info bg-gradient">
                            <h4>{{ curso }}</h4>

                        </div>

                        <div class="card-body">
                            <table id="child-rows-data" class="table table-striped dt-responsive align-middle mb-0">
                                <thead class="thead-sm text-uppercase fs-xxs">
                                <tr>
                                    <th></th>
                                    <th>N.</th>
                                    <th>Tipo</th>
                                    <th>Fecha</th>
                                    <th>Tramo Horario</th>
                                    <th>Sanción</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for h,t,n in historial %}
                                    <tr

                                            data-profesor="{{ h.Profesor|default:'' }}"
                                            {% if h.Profesor %}data-hora="{{ horas|slice:h.Hora|last }}"{% endif %}
                                            data-comentario="{{ h.Comentario }}"
                                            data-tipo="{{ h.Tipo }}"
                                            data-derivado="{{ h.DerivadoConvivencia|yesno:"SÍ,NO" }}"
                                            data-familiar="{{ h.FamiliarComunicado }}"
                                            data-fecha="{{ h.FechaComunicado|date:"d/m/Y" }}"
                                            data-hora-comunicado="{{ h.HoraComunicado }}"
                                            data-medio="{{ h.get_Medio_display }}"
                                            data-telefono="{{ h.TelefonoComunicado }}"
                                            data-observacion="{{ h.ObservacionComunicado }}"
                                            data-id="{{ h.id }}">
                                        <td class="dt-control dt-child-rows-btn dtr-control"><i
                                                class="ti ti-square-rounded-plus-filled text-primary align-middle fs-22"></i>
                                        </td>
                                        <td class="sorting_1">{{ n }}</td>

                                        <td>
                                            {% if t == 'Amonestación' %}
                                                {% if h.Tipo.TipoFalta == 'G' %}
                                                    <span class="badge badge-label text-bg-warning-warning">Amonestación Grave</span>
                                                {% else %}
                                                    <span class="badge badge-label text-bg-warning">Amonestación Leve</span>
                                                {% endif %}
                                            {% elif t == 'Sanción' %}
                                                <span class="badge badge-label text-bg-danger">Sanción</span>
                                            {% endif %}

                                        </td>
                                        {% if h.Fecha_fin %}
                                            <td>{{ h.Fecha|date:"d/m/Y" }} - {{ h.Fecha_fin|date:"d/m/Y" }}</td>
                                        {% else %}
                                            <td>{{ h.Fecha|date:"d/m/Y" }}</td>
                                        {% endif %}

                                        {% if h.Profesor %}
                                            <td>{{ horas|slice:h.Hora|last }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        {% if h.Sancion %}
                                            {% if h.NoExpulsion %}
                                                <td>{{ h.Sancion }}<br/><strong>No expulsión</strong></td>
                                            {% else %}
                                                <td>
                                                    {{ h.Sancion }}
                                                </td>

                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div> <!-- end card-body-->

                    </div>
                    <div class="card-footer border-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div data-table-pagination-info="projects"></div>
                            <div data-table-pagination></div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->



        {% endfor %}


    </div><!-- end row -->

{% endblock %}

{% block js %}

    <!-- Datatables js -->
    <script src="{% static 'plugins/datatables/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap5.min.js' %}"></script>



    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>

    <!-- Daterpicker Plugin Js -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.es.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $('.table').each(function () {
                const tabla = $(this).DataTable({
                    dom: "<'d-md-flex justify-content-between align-items-center my-2'<'dropdown'B>f>" +
                        "rt" +
                        "<'d-md-flex justify-content-between align-items-center mt-2'ip>",
                    responsive: true,
                    pageLength: 50,
                    fixedHeader: {
                        header: true,
                        headerOffset: 65
                    },
                    buttons: [
                        {
                            extend: 'collection',
                            text: '<i class="ti ti-download me-1"></i> Exportar datos',
                            className: 'btn btn-sm btn-secondary dropdown-toggle',
                            autoClose: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    text: '<i class="ti ti-copy me-1 fs-lg align-middle"></i> Copiar',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'csv',
                                    text: '<i class="ti ti-file-type-csv me-1 fs-lg align-middle"></i> CSV',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'excel',
                                    text: '<i class="ti ti-file-spreadsheet me-1 fs-lg align-middle"></i> Excel',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'print',
                                    text: '<i class="ti ti-printer me-1 fs-lg align-middle"></i> Imprimir',
                                    className: 'dropdown-item'
                                },
                                {
                                    extend: 'pdf',
                                    text: '<i class="ti ti-file-text me-1 fs-lg align-middle"></i> PDF',
                                    className: 'dropdown-item'
                                }
                            ]
                        }
                    ],
                    columns: [
                        {
                            className: 'dt-control dt-child-rows-btn',
                            orderable: false,
                            data: null,
                            defaultContent: '<i class="ti ti-square-rounded-plus-filled text-primary align-middle fs-22"></i>'
                        }, null, null, null, null, null
                    ],
                    order: [[1, 'asc']],
                    language: {
                        url: "{% static 'plugins/datatables/es-ES.json' %}",
                        paginate: {
                            first: '<i class="ti ti-chevrons-left"></i>',
                            previous: '<i class="ti ti-chevron-left"></i>',
                            next: '<i class="ti ti-chevron-right"></i>',
                            last: '<i class="ti ti-chevrons-right"></i>'
                        }
                    }
                });

                // Manejo de filas hijo para ESTA tabla
                $(this).on('click', 'td.dt-control', function (e) {
                    const tr = $(this).closest('tr')[0];
                    const row = tabla.row(tr);

                    if (row.child.isShown()) {
                        row.child.hide();
                    } else {
                        const datos = tr.dataset;
                        row.child(format(datos)).show();
                    }
                });
            });


            function format(data) {
                // `d` is the original data object for the row
                return (

                    '<div class="row align-items-center" style="margin-top: 5px;">' +
                    '<div class="col-md-12">' +
                    '<h5 class="fs-base mb-1">Comentario:</h5>' +
                    `<div>${data.comentario || 'Sin comentario'}</div>` +
                    '</div>' +
                    '</div>' +

                    '<div class="row align-items-center" style="margin-top: 5px;">' +
                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Profesor/a:</h5>' +
                    '<div>' + `${data.profesor}` + '</div>' +
                    '</div>' +

                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Tipo:</h5>' +
                    `<span class="badge badge-label ${data.status === 'Bullish' ? 'badge-soft-success' : 'badge-soft-danger'}">${data.tipo}</span>` +
                    '</div>' +

                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Aula convivencia:</h5>' +
                    `<div>${data.derivado}</div>` +
                    '</div>' +
                    '</div>' +


                    '<div class="row align-items-center" style="margin-top: 5px;">' +
                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Comunicado a:</h5>' +
                    '<div>' + `${data.familiar}` + '</div>' +
                    '</div>' +

                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Fecha comunicación:</h5>' +
                    '<div>' + `${data.fecha} ${data.horaComunicado || ''}` + '</div>' +
                    '</div>' +

                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Medio:</h5>' +
                    `<div>${data.medio}</div>` +
                    '</div>' +

                    '<div class="col-md-3">' +
                    '<h5 class="fs-base mb-1">Observaciones:</h5>' +
                    `<div>${data.observacion}</div>` +
                    '</div>' +
                    '</div>'
                );
            }
        });
    </script>
{% endblock %}
