{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}

{% block css %}

    <!-- Datatables css -->
    <link href="{% static 'plugins/datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Select Plugin CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap4.css' %}">

    <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Intervenciones en Aula Horizonte</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="row g-2">
                            <div class="mb-3 col-md-4">
                                <label class="form-label">Profesor/a que deriva:</label>

                                <select id="filtro-profesor-envia" class="form-control select2">
                                    <option value="" selected>Todos</option>
                                    {% for p in profesores %}
                                        <option value="{{ p }}">{{ p }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 col-md-4">
                                <label class="form-label">Profesor/a que interviene:</label>

                                <select id="filtro-profesor-interviene" class="form-control select2">
                                    <option value="" selected>Todos</option>
                                    {% for p in profesores %}
                                        <option value="{{ p }}">{{ p }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="mb-3 col-md-4">
                                <label class="form-label">Unidad:</label>
                                <select id="filtro-curso" class="form-control select2">
                                    <option value="" selected>Todos</option>
                                    {% for c in cursos %}
                                        <option value="{{ c }}">{{ c }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                        </div>


                    </div> <!-- end card-body-->

                </div>
                <div class="card-footer border-0">

                </div>
            </div>


            <div class="col-12">

                <div class="card">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-intervenciones">
                                <thead class="table-light">
                                <tr>
                                    <th>Alumno/a</th>
                                    <th>Unidad</th>
                                    <th>Fecha</th>
                                    <th>Tramo</th>
                                    <th>Profesor/a que deriva</th>
                                    <th>Profesor/a que interviene</th>
                                    <th>Tareas realizadas</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for intervencion in intervenciones %}
                                    <tr>
                                        <td><a href="/convivencia/historial/{{ intervencion.alumno.id }}/">{{ intervencion.alumno.Nombre }}</a></td>
                                        <td>{{ intervencion.alumno.Unidad }}</td>
                                        <td>{{ intervencion.fecha|date:"d/m/Y" }}</td>
                                        <td>{{ intervencion.get_tramo_horario_display }}</td>
                                        <td>{{ intervencion.profesor_envia }}</td>
                                        <td>{{ intervencion.profesor_atiende }}</td>
                                        <td>{{ intervencion.tarea_realizada|default:"—" }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="{% url 'intervencion_horizonte_detalle' intervencion.pk %}">Detalles</a>
                                            <a class="btn btn-sm btn-danger btn-borrar" data-id="{{ intervencion.id }}"
                                               href="#"><i
                                                    class="ti ti-trash me-1"></i> Borrar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

    </div><!-- end row -->



{% endblock %}

{% block js %}


    <!-- Datatables js -->
    <script src="{% static 'plugins/datatables/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap5.min.js' %}"></script>



    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>


    <!-- Select2 Plugin Js -->
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>


    <script>


        jQuery.extend(jQuery.fn.dataTable.ext.type.order, {
            "date-eu-pre": function (date) {
                // Si la fecha está vacía o mal formada, devolvemos valor alto para dejarla al final
                if (!date || date.trim() === '') {
                    return 0;
                }

                const eu_date = date.split('/');
                // dd/mm/yyyy → yyyy+mm+dd como número
                return (eu_date[2] + eu_date[1] + eu_date[0]) * 1;
            },
            "date-eu-asc": function (a, b) {
                return a - b;
            },
            "date-eu-desc": function (a, b) {
                return b - a;
            }
        });

        $(document).ready(function () {

            $(".select2").select2({
                theme: 'bootstrap4',
                allowClear: true
            });


            var tabla = $('.dataTables-intervenciones').DataTable({
                dom: "<'d-md-flex justify-content-between align-items-center my-2'<'dropdown'B>f>" +
                    "rt" +
                    "<'d-md-flex justify-content-between align-items-center mt-2'ip>",
                responsive: true,
                pageLength: 50,
                fixedHeader: {
                    header: true,
                    headerOffset: 65
                },
                buttons: [
                    {
                        extend: 'collection',
                        text: '<i class="ti ti-download me-1"></i> Exportar datos',
                        className: 'btn btn-sm btn-secondary dropdown-toggle',
                        autoClose: true,
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="ti ti-copy me-1 fs-lg align-middle"></i> Copiar',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="ti ti-file-type-csv me-1 fs-lg align-middle"></i> CSV',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1 fs-lg align-middle"></i> Excel',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'print',
                                text: '<i class="ti ti-printer me-1 fs-lg align-middle"></i> Imprimir',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-text me-1 fs-lg align-middle"></i> PDF',
                                className: 'dropdown-item'
                            }
                        ]
                    }
                ],
                columnDefs: [
                    {
                        targets: [2],
                        type: 'date-eu'
                    }
                ],

                order: [[2, 'desc']],
                language: {
                    url: "{% static 'plugins/datatables/es-ES.json' %}",
                    paginate: {
                        first: '<i class="ti ti-chevrons-left"></i>',
                        previous: '<i class="ti ti-chevron-left"></i>',
                        next: '<i class="ti ti-chevron-right"></i>',
                        last: '<i class="ti ti-chevrons-right"></i>'
                    }
                }
            });

            // Filtro por columna usando select externo
            function filtrarColumna(colIndex, selectorId) {
                $(selectorId).on('change', function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    tabla.column(colIndex).search(val ? '^' + val + '$' : '', true, false).draw();
                });
            }

            filtrarColumna(4, '#filtro-profesor-envia');  // Profesor
            filtrarColumna(5, '#filtro-profesor-interviene');  // Profesor
            filtrarColumna(1, '#filtro-curso');     // Curso

            $(document).on('click', '.btn-borrar', function(e) {
                var intervencionId = $(this).data('id');
                var row = $(this).closest('tr'); // Obtener la fila de la tabla


                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "No podrás volver a recuperar esta intervención.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, borrar.",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "{% url 'intervencion_horizonte_eliminar' %}",
                            method: "POST",
                            data: {
                                'id': intervencionId,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        title: "¡Borrada!",
                                        text: "La intervención ha sido eliminada.",
                                        icon: "success"
                                    });
                                    // Elimina la fila de la tabla
                                    row.remove();
                                } else {
                                    Swal.fire("Error", "No se pudo borrar la intervención.", "error");
                                }
                            },
                            error: function () {
                                Swal.fire("Error", "Ocurrió un error al intentar borrar la intervención.", "error");
                            }
                        });
                    }
                });
            });


        });

    </script>
{% endblock %}

