{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}


{% block title %}Centro{% endblock %}

{% block content %}


    <div class="content-page">

            <div class="container-fluid">
                <div class="page-title-head d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h4 class="fs-sm text-uppercase fw-bold m-0">Resumen diario de amonestaciones/sanciones</h4>
                    </div>
                </div>

            </div>

    </div>





    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Resumen de amonestaciones/sancionesssssss</h3>
                    </div>
                    <div class="ibox-content">

                        <form action="{% url 'resumen_con_parametros' tipo fecha %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="tipo" value="{{ tipo }}">

                            <br/>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </form>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {

            var mem = $('#id_Fecha').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                language: "es"
            }).datepicker('setDate', new Date()); // Establecer la fecha de hoy;

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

    </script>
{% endblock %}
