{% extends "base.html" %}

{% block title %}Centro{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Resumen de amonestaciones/sanciones</h3>
                    </div>
                    <div class="ibox-content">
                        <form id="main-form" action="{% url 'show' tipo mes ano dia %}" method="post">
                            {% csrf_token %}

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">{{ form.fecha.label_tag }}</label>
                                <div class="col-lg-4">
                                    {{ form.fecha }}
                                    {% if form.fecha.help_text %}
                                        <span class="help-block">{{ form.fecha.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.fecha.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-2 col-form-label">{{ form.tipo.label_tag }}</label>
                                <div class="col-lg-4">
                                    <div class="inline-radio" style="padding: 5px 0;">
                                        {% for radio in form.tipo %}
                                            <label class="radio-inline">
                                                {{ radio.tag }}
                                                {{ radio.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    {% if form.tipo.help_text %}
                                        <span class="help-block">{{ form.tipo.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.tipo.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <div class="float-right">
                            {% if tipo == 'amonestacion' %}
                                <a href="/pdf/show/amonestacion/{{ mes }}/{{ ano }}/{{ dia }}"
                                   class="btn btn-sm btn-info"><i class="fa fa-print"></i> Imprimir amonestaciones </a>
                                <a href="/pdf/send/amonestacion/{{ mes }}/{{ ano }}/{{ dia }}"
                                   class="btn btn-sm btn-info"><i class="fa fa-envelope-o"></i> Enviar correo </a>
                                <a href="/pdf/carta_amonestacion/{{ mes }}/{{ ano }}/{{ dia }}/s"
                                   class="btn btn-sm btn-info"><i class="fa fa-file-text"></i> Imprimir cartas </a>
                                <a href="/pdf/carta_amonestacion/{{ mes }}/{{ ano }}/{{ dia }}/n"
                                   class="btn btn-sm btn-info"><i class="fa fa-file"></i> Imprimir cartas (sin
                                    correo)</a>
                            {% elif tipo == 'sancion' %}
                                <a href="/pdf/show/sancion/{{ mes }}/{{ ano }}/{{ dia }}" class="btn btn-sm btn-info"><i
                                        class="fa fa-print"></i> Imprimir sanciones </a>
                            {% endif %}
                        </div>
                        <h3>Fecha: {{ dia }}/{{ mes }}/{{ ano }}</h3>

                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>
                                    <th data-toggle="true">N.</th>
                                    <th>Alumno/a</th>
                                    <th>Tipo</th>
                                    <th>Fecha</th>
                                    <th>Unidad</th>

                                    {% if tipo == 'amonestacion' %}
                                        <th>A/S</th>
                                        <th>A/S Hist.</th>
                                        <th>Tramo horario</th>
                                    {% elif tipo  == 'sancion' %}
                                        <th>Sanción</th>
                                    {% endif %}


                                    <th data-hide="all">Comentario</th>

                                    {% if tipo == 'amonestacion' %}
                                        <th data-hide="all">Tipo</th>
                                        <th data-hide="all">Derivado a Convivencia</th>
                                        <th data-hide="all">Comunicado a</th>
                                        <th data-hide="all">Fecha comunicación</th>
                                        <th data-hide="all">Medio</th>
                                        <th data-hide="all">Teléfono</th>
                                        <th data-hide="all">Observaciones</th>
                                    {% endif %}
                                    {% if tipo  == 'sancion' %}
                                        <th>Carta</th>
                                    {% endif %}

                                </tr>
                                </thead>
                                <tbody>
                                {% for n,h,contar, contarhist in datos %}
                                    <tr>
                                        <td>
                                            {{ n }}
                                        </td>
                                        <td>
                                            <a href="/convivencia/historial/{{ h.IdAlumno.id }}/"><strong>{{ h.IdAlumno.Nombre }}</strong> {% if h.IdAlumno.PDC %} (PDC){% endif %} {% if h.IdAlumno.NEAE %} (NEAE){% endif %}</a>
                                            {% if tipo == 'amonestacion' %}
                                                {% if h.IdAlumno.email %}
                                                    ({{ h.IdAlumno.email }})
                                                {% else %}
                                                    <a href="/admin/centro/alumnos/{{ h.IdAlumno.id }}/change/">(Añadir
                                                        correo electrónico)</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if tipo == 'amonestacion' %}
                                                {% if h.Tipo.TipoFalta == 'G' %}
                                                    <span class="label label-warning-warning">Amonestación Grave</span>
                                                {% else %}
                                                    <span class="label label-warning">Amonestación Leve</span>
                                                {% endif %}
                                            {% elif tipo == 'sancion' %}
                                                <span class="label label-danger">Sanción</span>
                                            {% endif %}

                                        </td>
                                        {% if h.Fecha_fin %}
                                            <td>{{ h.Fecha|date:"d/m/Y" }} - {{ h.Fecha_fin|date:"d/m/Y" }}</td>
                                        {% else %}
                                            <td>{{ h.Fecha|date:"d/m/Y" }}</td>
                                        {% endif %}

                                        <td><a href="/centro/alumnos/{{ h.IdAlumno.Unidad.id }}">{{ h.IdAlumno.Unidad }}</a></td>

                                        {% if tipo == 'amonestacion' %}
                                            <td>{{ contar }}</td>
                                            <td>{{ contarhist }}</td>
                                            {% if h.Profesor %}
                                                <td>{{ horas|slice:h.Hora|last }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% elif tipo == 'sancion' %}
                                            {% if h.NoExpulsion %}
                                                <td>{{ h.Sancion }}<br/><strong>No expulsión</strong></td>
                                            {% else %}
                                                <td>{{ h.Sancion }}</td>

                                            {% endif %}
                                        {% endif %}



                                        {% if h.Profesor %}
                                            <td><strong>{{ h.Profesor }}
                                                ({{ horas|slice:h.Hora|last }})</strong><br/>{{ h.Comentario }}
                                            </td>

                                        {% else %}
                                            <td> {{ h.Comentario }}</td>
                                        {% endif %}

                                        {% if tipo == 'amonestacion' %}
                                            <td>{{ h.Tipo }}</td>
                                            {% if h.DerivadoConvivencia %}
                                                <td>SÍ</td>
                                            {% else %}
                                                <td>NO</td>
                                            {% endif %}
                                            <td> {{ h.FamiliarComunicado }}</td>
                                            <td> {{ h.FechaComunicado|date:"d/m/Y" }} {{ h.HoraComunicado }}</td>
                                            <td> {{ h.get_Medio_display }}</td>
                                            <td> {{ h.TelefonoComunicado }}</td>
                                            <td> {{ h.ObservacionComunicado }}</td>
                                        {% endif %}
                                        {% if tipo == 'sancion' %}
                                            <td><a href="/pdf/carta_sancion/{{ h.id }}"><span
                                                    class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var initialDate = new Date({{ ano }}, {{ mes }} - 1, {{ dia }});
            var mem = $('#id_fecha').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                language: "es"
            }).datepicker('setDate', initialDate);

            function updateUrlAndSubmit() {
                var selectedDate = mem.datepicker('getDate');
                var selectedTipo = $('input[name="{{ form.tipo.name }}"]:checked').val();
                var newUrl = "{% url 'show' 'tipoplaceholder' 1 2 3 %}"
                    .replace('tipoplaceholder', selectedTipo)
                    .replace(1, eval(selectedDate.getMonth() + 1))
                    .replace(2, selectedDate.getFullYear())
                    .replace(3, selectedDate.getDate());
                $('#main-form').attr('action', newUrl).submit();
            }

            $('#id_fecha').on('changeDate', function () {
                updateUrlAndSubmit();
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            }).on('ifChecked', function (event) {
                updateUrlAndSubmit();
            });

            // Forzar la selección correcta del radio button
            $('input[name="{{ form.tipo.name }}"]').each(function () {
                if ($(this).val() == "{{ tipo }}") {
                    $(this).iCheck('check');
                }
            });

            $(document).ready(function () {
                $('.footable').footable();
            });
        });
    </script>
{% endblock %}
