{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}

{% block css %}

    <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Datepicker Plugin CSS -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}" type="text/css">

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Parte de guardias</h4>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-12">

                <form id="main-form" action="" method="get"
                      class="bg-light-subtle rounded border p-3">
                    {% csrf_token %}
                    <div class="row gap-3">

                        <div class="col">
                            <div class="d-flex flex-wrap align-items-center gap-2">
                                <span class="me-2 fw-semibold">Selecciona una fecha:</span>

                                <div class="date-search">

                                    <div class="input-group date">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti ti-calendar"></i></span>
                                        <input type="text"
                                               class="form-control" autocomplete="off" aria-label="Fecha"
                                               aria-describedby="basic-addon1"
                                               name="fecha" id="fecha-parte-guardia"/>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <div class="col-auto align-middle">

                                            <span class="align-middle">
                                                <button type="button" id="abrirModalAusencia" class="btn btn-warning">
                                                <i class="ti ti-plus fs-xl me-1"></i> <span>Registrar ausencia detectada</span>
                                            </button></span>

                        </div>


                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card border-primary">
                    <div class="card-header text-bg-primary" style="justify-content: center;">
                        <button id="btn-prev-day" type="button" class="btn btn-primary btn-icon">
                            <i class="ti ti-arrow-left fs-lg"></i>
                        </button>

                        PARTE DE GUARDIAS : <strong>FECHA</strong>
                        <button id="btn-next-day" type="button" class="btn btn-primary btn-icon">
                            <i class="ti ti-arrow-right fs-lg"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-justified nav-bordered nav-bordered-primary mb-3">
                            <li class="nav-item">
                                <a href="#tab-1h" data-tramo="1" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <span class="d-none d-md-inline-block align-middle">1ª Hora</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-2h" data-tramo="2" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <span class="d-none d-md-inline-block align-middle">2ª Hora</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-3h" data-tramo="3" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <span class="d-none d-md-inline-block align-middle">3ª Hora</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-rec" data-tramo="4" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <i class="ti ti-chess-queen fs-lg me-md-1 align-middle"></i>
                                    <span class="d-none d-md-inline-block align-middle">RECREO</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-4h" data-tramo="5" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <span class="d-none d-md-inline-block align-middle">4ª Hora</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-5h" data-tramo="6" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <span class="d-none d-md-inline-block align-middle">5ª Hora</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-6h" data-tramo="7" data-bs-toggle="tab" aria-expanded="false"
                                   class="nav-link tramo-tab">
                                    <span class="d-none d-md-inline-block align-middle">6ª Hora</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane" id="tab-1h" data-tramo="1">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2h" data-tramo="2">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3h" data-tramo="3">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-rec" data-tramo="4">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4h" data-tramo="5">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5h" data-tramo="6">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-6h" data-tramo="7">
                                <div class="card-body card-body-guardias">
                                </div>
                            </div>
                        </div>

                    </div> <!-- end card-body-->
                    <div class="card-footer">

                    </div>
                </div> <!-- end card-->


                <div class="card" id="profes-guardia-container">

                </div>
            </div> <!-- end col-->
        </div> <!-- end row-->

    </div>
    <!-- container -->

    <div id="contenedorModalAusencia"></div>






{% endblock %}


{% block js %}
    <!-- Select2 Plugin Js -->
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>


    <!-- Daterpicker Plugin Js -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.es.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $('#abrirModalAusencia').on('click', function () {
                console.log("Hemos hecho click")
                $('#contenedorModalAusencia').load("{% url 'modal-registrar-ausencia' %}", function () {
                    var modal = new bootstrap.Modal(document.getElementById("modalausenciaprofe"));
                    modal.show();

                    activarPluginsModalAusencia();


                });
            });



            function activarPluginsModalAusencia() {
                $('#profesor-ausente').select2({
                    placeholder: 'Selecciona un profesor',
                    allowClear: true,
                    theme: 'bootstrap4',
                    width: 'resolve',  // Se adapta al contenedor
                    dropdownParent: $('#modalausenciaprofe')
                }).trigger('change'); // Actualizamos select2

                // Limpiamos las opciones previas del select
                $('#profesor-ausente').empty();

                $('#profesor-ausente').append(new Option('', '', true, true)).trigger('change');

                // Cargar opciones de profesores al abrir el modal
                $.ajax({
                    url: "{% url 'obtener_profesores' %}",  // Ruta que devuelve la lista de profesores en formato JSON
                    method: 'GET',
                    success: function (response) {
                        // Suponiendo que response es una lista de objetos { id, nombre }
                        response.forEach(function (profesor) {
                            let option = new Option(profesor.nombre, profesor.id, false, false);
                            $('#profesor-ausente').append(option);
                        });

                        // Forzar actualización de select2 después de añadir opciones
                        $('#profesor-ausente').trigger('change');
                    }
                });

                $('#fecha-ausencia').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    language: "es"
                }).datepicker('setDate', new Date()).on('changeDate', function (e) {
                    // Cada vez que cambie la fecha, lanzamos la petición AJAX
                    const fechaSeleccionada = $('#fecha-ausencia').val();
                    const profesorAusente = $('#profesor-ausente').val();
                    if (fechaSeleccionada && profesorAusente)
                        obtenerHorario(fechaSeleccionada, profesorAusente);
                }); // Establecer la fecha de hoy;

                $('#horario-items').html('');

                // Evitar que el evento de abrir el modal se dispare al interactuar con el datepicker
                $('#fecha-ausencia').on('show.bs.datepicker', function (e) {
                    e.stopPropagation(); // Evita la propagación del evento
                });


                $('#profesor-ausente').off('select2:select').on('select2:select', function (e) {
                    e.stopPropagation();
                    const fechaSeleccionada = $('#fecha-ausencia').val();
                    const profesorAusente = $('#profesor-ausente').val();
                    if (fechaSeleccionada && profesorAusente)
                        obtenerHorario(fechaSeleccionada, profesorAusente);
                });

                $('#modalausenciaprofe').on('hide.bs.modal', function (e) {
                    if ($('.select2-container--open').length) {
                        e.preventDefault(); // Evita que el modal se cierre cuando el select2 está abierto
                    }
                });

                $('#modalausenciaprofe').on('hidden.bs.modal', function () {
                    $('#profesor-ausente').select2('destroy');
                });

                $('#profesor-ausente').on('select2:open', function (e) {
                    // Previene que el campo pierda el foco de forma inesperada
                    setTimeout(() => {
                        $(this).focus();
                    }, 200);  // Agregar un pequeño retraso
                });

                // Manejar el evento de guardar los datos
                $('#guardar-ausencias').click(function () {
                    // Recopilar las filas seleccionadas
                    var seleccionados = [];
                    $('input.seleccion:checked').each(function () {
                        var row = $(this).closest('tr'); // Obtén la fila completa
                        var item = {
                            tramo: row.data('tramo'), // Tramo de la fila
                            materia: row.data('materia'), // Materia de la fila
                            unidad: row.data('unidad'), // Unidad de la fila
                            aula: row.data('aula'), // Aula de la fila
                            tarea: row.find('.tarea-input').val(), // Tarea de la fila
                            fecha: $('#fecha-ausencia').val() // Fecha seleccionada
                        };
                        seleccionados.push(item); // Agregar el objeto al array
                    });

                    if (seleccionados.length > 0) {

                        // Obtener la fecha seleccionada
                        var fechaSeleccionada = $('#fecha-ausencia').val();
                        var profesorAusente = $('#profesor-ausente').val();

                        if (fechaSeleccionada && profesorAusente) {
                            // Enviar los datos por AJAX
                            $.ajax({
                                url: '{% url "guardar_guardias_ajax" %}',  // La vista de Django que manejará la solicitud
                                method: 'POST',
                                data: {
                                    'fecha': fechaSeleccionada,
                                    'profesor_ausente': profesorAusente,  // El ID del profesor está en el contexto
                                    'seleccionados': JSON.stringify(seleccionados),  // Los datos de las filas seleccionadas
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: function (response) {
                                    Swal.fire({
                                        title: "¡Gracias!",
                                        text: "Tu ausencia ha sido anotada.",
                                        icon: "success"
                                    }).then(() => {

                                        // Recarga la página
                                        //location.reload();
                                        actualizarGuardias(fechaSeleccionada);
                                    });

                                    // Cierra el modal
                                    $('#modalausenciaprofe').modal('hide');

                                },
                                error: function (error) {
                                    console.error("Error al guardar los datos", error);
                                    Swal.fire({
                                        title: "Error",
                                        text: "No se pudo anotar tu ausencia. Inténtalo más tarde.",
                                        icon: "error"
                                    });

                                    $('#modalausenciaprofe').modal('hide');
                                }
                            });
                        }
                    } else {
                        alert('Selecciona al menos una fila.');
                    }
                });


            }


            // Variable global para almacenar el tramo activo
            let tramoSeleccionado = 1;  // Comienza en el primer tramo

            function ajustarFecha(dias) {
                const fechaActual = $('#fecha-parte-guardia').datepicker('getDate');

                if (fechaActual) {
                    fechaActual.setDate(fechaActual.getDate() + dias); // Ajustar solo el día
                    $('#fecha-parte-guardia').datepicker('setDate', fechaActual); // Actualizar el datepicker
                }
            }

            // Evento para el botón de día anterior
            $('#btn-prev-day').click(function () {
                ajustarFecha(-1); // Resta un día
            });

            // Evento para el botón de día siguiente
            $('#btn-next-day').click(function () {
                ajustarFecha(1); // Suma un día
            });


            // Inicializar select2 solo cuando el modal esté completamente mostrado
            /*
            $('#modalausenciaprofe').on('shown.bs.modal', function () {

                // Comprobar si Select2 ya está inicializado para evitar duplicados

                $('#profesor-ausente').select2({
                    placeholder: 'Selecciona un profesor',
                    allowClear: true,
                    theme: 'bootstrap4',
                    width: 'resolve',  // Se adapta al contenedor
                    dropdownParent: $('#modalausenciaprofe')
                }).trigger('change'); // Actualizamos select2


            });


            $('#modalausenciaprofe').on('show.bs.modal', function () {
                $('#data_2 .input-group.date').datepicker('setDate', new Date());
                $('#horario-items').html('');
            });

             */

            function convertirFechaTitulo(fechaSeleccionada) {
                // Convertir la fecha seleccionada de 'dd/mm/yyyy' a 'yyyy-mm-dd'
                var partesFecha = fechaSeleccionada.split('/');
                var fechaFormateadaISO = `${partesFecha[2]}-${partesFecha[1]}-${partesFecha[0]}`;

                // Crear un objeto Date a partir de la fecha formateada
                var fechaObj = new Date(fechaFormateadaISO);

                // Formatear la fecha para el encabezado
                var opcionesFormato = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
                var fechaFormateada = fechaObj.toLocaleDateString('es-ES', opcionesFormato);

                return fechaFormateada;
            }

            $(document).on('guardiaConfirmada', function (event, fechaSeleccionada) {
                // Llamar a la función para actualizar las tablas

                actualizarGuardias(fechaSeleccionada);
            });


            function actualizarGuardias(fechaSeleccionada) {
                // Realizar la petición AJAX
                $.ajax({
                    url: "{% url 'parteguardias_ajax' %}",
                    type: "GET",
                    data: {
                        'fecha': fechaSeleccionada,
                    },
                    success: function (response) {
                        // Actualizar las pestañas con la respuesta
                        $('#tab-1h').html(response.tablas.tabla_1h);
                        $('#tab-2h').html(response.tablas.tabla_2h);
                        $('#tab-3h').html(response.tablas.tabla_3h);
                        $('#tab-rec').html(response.tablas.tabla_rec);
                        $('#tab-4h').html(response.tablas.tabla_4h);
                        $('#tab-5h').html(response.tablas.tabla_5h);
                        $('#tab-6h').html(response.tablas.tabla_6h);

                        // Actualizar los iboxes
                        $('#profes-guardia-container').html(response.ibox_guardias);

                        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                        popoverTriggerList.forEach(function (popoverTriggerEl) {
                            new bootstrap.Popover(popoverTriggerEl)
                        })

                        // Una vez que se actualicen las tablas, asegurarse de mostrar el tramo seleccionado

                        activarTabPorTramo(tramoSeleccionado)
                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error al cargar los datos: " + errmsg);
                    }
                });
            }


            function cargarGuardias(fechaSeleccionada) {

                // Realizar la petición AJAX
                $.ajax({
                    url: "{% url 'parteguardias_ajax' %}",
                    type: "GET",
                    data: {
                        'fecha': fechaSeleccionada,
                    },
                    success: function (response) {

                        // Actualizar las pestañas con la respuesta
                        $('#tab-1h').html(response.tablas.tabla_1h);
                        $('#tab-2h').html(response.tablas.tabla_2h);
                        $('#tab-3h').html(response.tablas.tabla_3h);
                        $('#tab-rec').html(response.tablas.tabla_rec);
                        $('#tab-4h').html(response.tablas.tabla_4h);
                        $('#tab-5h').html(response.tablas.tabla_5h);
                        $('#tab-6h').html(response.tablas.tabla_6h);

                        // Actualizar los iboxes
                        $('#profes-guardia-container').html(response.ibox_guardias);

                        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                        popoverTriggerList.forEach(function (popoverTriggerEl) {
                            new bootstrap.Popover(popoverTriggerEl)
                        })

                        activarPrimeraPestana();
                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error al cargar los datos: " + errmsg);
                    }
                });
            }

            function activarTabPorTramo(tramo) {

                console.log("TRAMOO: " + tramo);

                const tabLink = document.querySelector(`.nav-link[data-tramo="${tramo}"]`);
                if (tabLink) {
                    const tab = new bootstrap.Tab(tabLink);
                    tab.show();
                }

                // Ocultar todos los iboxes de los demás tramos
                $('.ibox-tramo').hide();

                // Mostrar solo los iboxes del tramo seleccionado
                $('#ibox-tramo-' + tramo).show();
            }

            function activarPrimeraPestana() {

                tramoSeleccionado = 1;

                // Mostrar solo el contenido del primer tramo (tramo 1)
                activarTabPorTramo(tramoSeleccionado);
            }

            // Capturar el evento cuando se cambia de pestaña
            $(document).on('click', '.tramo-tab', function () {
                tramoSeleccionado = $(this).data('tramo');
                activarTabPorTramo(tramoSeleccionado);
            });


            $('#fecha-parte-guardia').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                language: "es"
            }).datepicker('setDate', new Date())
                .trigger('changeDate')
                .on('changeDate', function (e) {
                    const fechaSeleccionada = $('#fecha-parte-guardia').val();

                    let fechaFormateada = convertirFechaTitulo(fechaSeleccionada);

                    // Actualizar el panel heading con la nueva fecha
                    $('.card-header strong').text(fechaFormateada.toUpperCase());


                    cargarGuardias(fechaSeleccionada); // Llama a la función cuando cambie la fecha


                }); // Establecer la fecha de hoy;

            // Cargar las guardias para la fecha de hoy al cargar la página
            const fechaHoy = $('#fecha-parte-guardia').val(); // Asegúrate de que el campo tiene el valor correcto
            let fechaFormateada = convertirFechaTitulo(fechaHoy);

            // Actualizar el panel heading con la nueva fecha
            $('.card-header strong').text(fechaFormateada.toUpperCase());
            cargarGuardias(fechaHoy);


            function obtenerHorario(fecha, profesorid) {
                $.ajax({
                    url: '{% url "horario_profesor_ajax" %}',  // El URL de la vista Django
                    method: 'GET',
                    data: {
                        'fecha': fecha,
                        'profesor_id': profesorid  // El ID del profesor está en el contexto
                    },
                    success: function (response) {
                        // Actualizar el div con los items del horario
                        $('#horario-items').html(response);
                    },
                    error: function (error) {
                        console.error("Error al obtener el horario", error);
                    }
                });
            }


        });

    </script>


{% endblock %}

