{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}

{% block css %}

    <!-- Datatables css -->
    <link href="{% static 'plugins/datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Datepicker Plugin CSS -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}" type="text/css">

    <!-- Select Plugin CSS -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2-bootstrap4.css' %}">

{% endblock %}




{% block content %}


    <div class="container-fluid">
        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Nueva reserva</h4>
            </div>
        </div>

        <form id="main-form" action="/reservas/reservaprofe" method="post"
              class="bg-light-subtle rounded border p-3">
            {% csrf_token %}
            <input type="hidden" name="tramos_seleccionados" id="tramos_seleccionados">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="row g-2">
                        <div class="mb-3 col-md-12">
                            <label class="form-label">{{ form.Profesor.label_tag }}</label>
                            <div class="mb-2">
                                    {{ form.Profesor }}
                                    {% if form.Profesor.help_text %}
                                        <span class="help-block">{{ form.Profesor.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.Profesor.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>

                    <div class="row g-2">

                        <div class="mb-3 col-md-3">
                            <label class="form-label">{{ form.tipo.label_tag }}</label>
                            <div class="mb-2">
                                {% for radio in form.tipo %}
                                    <div class="form-check fs-xxl form-check-inline">
                                        {{ radio.tag }}

                                        <label class="form-check-label fs-base"
                                               for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                        </label>

                                    </div>
                                {% endfor %}

                                {% if form.tipo.help_text %}
                                    <span class="help-block">{{ form.tipo.help_text }}</span>
                                {% endif %}
                                {% for error in form.tipo.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label id="label-reservable" class="form-label">Recurso:</label>
                            <select name="Reservable" id="id_Reservable"
                                    class="form-control select2_Reservable"
                                    data-url="{% url 'filter_reservables' %}">
                                {% for reservable in form.Reservable.field.queryset %}
                                    <option value="{{ reservable.id }}">{{ reservable.Nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="mb-3 col-md-3">
                            <label class="form-label">Fecha:</label>
                            <div class="date-search">
                                {{ form.Fecha }}
                                {% if form.Fecha.help_text %}
                                    <span class="help-block">{{ form.Fecha.help_text }}</span>
                                {% endif %}
                                {% for error in form.Fecha.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>


    </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-light text-bg-info">
                    <i class="ti ti-info-circle"></i> Selecciona uno o varios tramos horarios disponibles

                </div>

                <div class="card-body" id="TramosHorarios">

                    <div class="row align-self-center">


                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="1"
                                    class="tramo btn btn-outline-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">1ª Hora
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>
                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="2"
                                    class="tramo btn btn-outline-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">2ª Hora
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>
                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="3"
                                    class="tramo btn btn-outline-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">3ª Hora
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>
                        <div class="col-12 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="4"
                                    class="tramo btn btn-outline-dark"
                                    style="width:80%" data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">
                                Recreo
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>
                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="5"
                                    class="tramo btn btn-outline-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">4ª Hora
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>
                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="6"
                                    class="tramo btn btn-outline-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">5ª Hora
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>
                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                            <button type="button" data-reference="7"
                                    class="tramo btn btn-outline-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="">6ª Hora
                            </button>
                            <small style="display:block; width:100%; text-align:center; font-weight: bold; margin-top: 3px;"></small>
                        </div>


                    </div>

                </div> <!-- end card-body-->

            </div>

        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body" id="row-periodicidad">
                    <div class="row g-2">

                        <div class="mb-3 col-md-3">
                            <label class="col-form-label">Periodicidad: </label>
                            <div class="mb-2">

                                {% for radio in form.periodicidad %}
                                    <div class="form-check fs-xxl form-check-inline">
                                        {{ radio.tag }}

                                        <label class="form-check-label fs-base"
                                               for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="mb-3 col-md-3" id="semanas">
                            <label class="col-form-label" id="label-semanas"
                            >{{ form.num_semanas.label_tag }}</label>

                            <div class="mb-2" id="field-semanas">
                                {{ form.num_semanas }}
                                {% if form.num_semanas.help_text %}
                                    <span class="help-block">{{ form.num_semanas.help_text }}</span>
                                {% endif %}
                                {% for error in form.num_semanas.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'misreservas' %}" class="btn btn-secondary">Cancelar</a>

                </div> <!-- end card-body-->

            </div>

        </div>


    </div><!-- end col -->

    </form>
    </div><!-- end row -->

{% endblock %}

{% block js %}

    <!-- Datatables js -->
    <script src="{% static 'plugins/datatables/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap5.min.js' %}"></script>



    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>

    <!-- Daterpicker Plugin Js -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.es.min.js' %}"></script>

    <!-- Select2 Plugin Js -->
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(".select2_Reservable").select2({
                theme: 'bootstrap4',
                placeholder: "Selecciona un recurso/espacio",
                allowClear: false
            });

            $(".select2_Profesor").select2({
                theme: 'bootstrap4',
                placeholder: "Selecciona un/a profesor/a",
                allowClear: false
            });


            var mem = $('#id_Fecha').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                language: "es",
                startDate: new Date(),  // Hoy
                endDate: new Date(Date.now() + 14 * 24 * 60 * 60 * 1000) // Dos semanas desde hoy
            }).on('changeDate', function (e) {
                $('#TramosHorarios').show();
                $('#row-periodicidad').show();
            });


            // Función para cargar los reservables según el tipo seleccionado
            function cargarReservables(tipo_id) {
                var $reservableSelect = $('#id_Reservable');  // Seleccionar el select por id
                var $reservableLabel = $('#label-reservable');

                if (tipo_id == 1) {
                    $reservableLabel.text("Espacio:");
                } else if (tipo_id == 2) {
                    $reservableLabel.text("Recurso:");
                } else {
                    $reservableLabel.text("Reservable:");
                }

                $.ajax({
                    url: $reservableSelect.data('url'),
                    data: {
                        'tipo_id': tipo_id
                    },
                    success: function (data) {
                        // Vaciar el select
                        $reservableSelect.empty();

                        // Añadir las nuevas opciones
                        $.each(data, function (key, value) {
                            $reservableSelect.append('<option value="' + value.id + '">' + value.Nombre + '</option>');
                        });

                        // Refrescar Select2
                        $reservableSelect.trigger('change');
                    }
                });
            }


            $('input[name="tipo"]').on('change', function () {
                if ($(this).is(':checked')) {
                    var tipo_id = $(this).val();
                    cargarReservables(tipo_id);
                }
            });


            $('.form-periodicidad').on('change', function () {
                if ($(this).is(':checked')) {
                    var periodicidad = $(this).val();
                    if (periodicidad === 'semanal') {
                        $('#semanas').show();

                    } else {
                        $('#semanas').hide();

                    }
                }
            });


            // Mostrar/ocultar el campo de número de semanas según la opción seleccionada al cargar la página
            var periodicidad_inicial = $('input[name="periodicidad"]:checked').val();
            if (periodicidad_inicial === 'semanal') {
                $('#semanas').show();

            } else {
                $('#semanas').hide();

            }

            // Trigger the change event on page load to load the default reservables
            var tipo_id_inicial = $('input[name="tipo"]:checked').val();
            cargarReservables(tipo_id_inicial);

            $('#TramosHorarios').hide();
            $('#row-periodicidad').hide();

            var tramosSeleccionados = [];

            function actualizarTramosSeleccionados() {
                $('#tramos_seleccionados').val(JSON.stringify(tramosSeleccionados));
            }


            // Función para verificar la disponibilidad de los tramos horarios
            function verificarDisponibilidad() {
                var reservable_id = $('#id_Reservable').val();
                var fecha = $('#id_Fecha').val();

                if (reservable_id && fecha) {
                    $.ajax({
                        url: '{% url "verificar_disponibilidad" %}',
                        data: {
                            'reservable_id': reservable_id,
                            'fecha': fecha
                        },
                        success: function (data) {

                            // ID del profesor actual (extraído de algún campo oculto o contexto)
                            var profesor_actual_id = {{ request.user.profesor.id }};

                            // Habilitar o deshabilitar los botones según la disponibilidad
                            $('.tramo').each(function () {
                                var hora = $(this).data('reference');
                                var disponibilidad = data['hora' + hora];

                                if (disponibilidad) {

                                    // Condición para mostrar u ocultar el tooltip
                                    if (disponibilidad.existe_reserva) {
                                        $(this).prop('disabled', true).addClass('btn-danger').removeClass('btn-outline-dark');
                                    } else {
                                        $(this).prop('disabled', false).addClass('btn-outline-dark').removeClass('btn-danger');
                                    }

                                    // Condición para mostrar u ocultar el tooltip
                                    if (disponibilidad.existe_reserva && disponibilidad.profesor_id != profesor_actual_id) {
                                        $(this).attr('title', `Reservado por: ${disponibilidad.profesor_nombre}`);
                                        $(this).tooltip('enable');  // Habilitar el tooltip

                                        // Cambiar el texto del <small> justo debajo del botón
                                        $(this).next('small').text(disponibilidad.profesor_nombre || '');

                                    } else {
                                        $(this).prop('disabled', false)
                                        $(this).attr('title', '');
                                        $(this).tooltip('disable');  // Deshabilitar el tooltip

                                        // Vaciar el <small> justo debajo del botón
                                        $(this).next('small').text('');
                                    }
                                }
                            });

                            // Inicializar tooltips (si aún no están)
                            $('.tramo').tooltip({
                                trigger: 'hover',
                                placement: 'top',
                                title: function () {
                                    return $(this).attr('title');
                                }
                            });

                        }
                    });
                }
            }

            // Verificar disponibilidad al cambiar la fecha o el reservable
            $('#id_Reservable, #id_Fecha').on('change', verificarDisponibilidad);

            // Verificar disponibilidad al cargar la página
            //verificarDisponibilidad();


            //ALTENAR LOS BOTONES DE LOS TRAMOS
            $('.tramo').off('click');
            $('.tramo').on('click', function () {
                var n = $(this).data("reference");
                if ($('.tramo[data-reference="' + n + '"]').val() == "") {
                    if ($('.tramo[data-reference="' + n + '"]').hasClass("btn-danger")) {
                        $('.tramo[data-reference="' + n + '"]').val('deseleccionado');
                        $('.tramo[data-reference="' + n + '"]').attr("class", "tramo btn btn-outline-dark");
                    } else {
                        $('.tramo[data-reference="' + n + '"]').val('seleccionado');
                        $('.tramo[data-reference="' + n + '"]').attr("class", "btn btn-danger tramo");
                    }
                } else if ($('.tramo[data-reference="' + n + '"]').val() == "deseleccionado") {
                    $('.tramo[data-reference="' + n + '"]').val('seleccionado');
                    $('.tramo[data-reference="' + n + '"]').attr("class", "btn btn-danger tramo");
                } else {
                    $('.tramo[data-reference="' + n + '"]').val('deseleccionado');
                    $('.tramo[data-reference="' + n + '"]').attr("class", "tramo btn btn-outline-dark");
                }

                // Actualizar el campo oculto con los tramos seleccionados
                var tramos_seleccionados = [];
                $('.tramo').each(function () {
                    if ($(this).val() === 'seleccionado') {
                        tramos_seleccionados.push($(this).data('reference'));
                    }
                });
                $('#tramos_seleccionados').val(JSON.stringify(tramos_seleccionados));

                if (tramos_seleccionados.length > 0) {
                    $("#botonEnviarReservar").removeAttr('disabled');
                } else {
                    $("#botonEnviarReservar").prop("disabled", true);
                }
            });

        });
    </script>
{% endblock %}
