{% extends "base.html" %}

{% load static %}

{% block css %}
    <link href="{% static 'css/plugins/touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}Centro{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Nueva Reserva</h2>
                    </div>
                    <div class="ibox-content">
                        <form action="/reservas/reservaprofe" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="tramos_seleccionados" id="tramos_seleccionados">

                            <!-- Mostrar errores no asociados a campos específicos -->
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <div class="form-group row">
                                <label class="col-lg-1 col-form-label">{{ form.Profesor.label_tag }}</label>
                                <div class="col-lg-11">
                                    {{ form.Profesor }}
                                    {% if form.Profesor.help_text %}
                                        <span class="help-block">{{ form.Profesor.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.Profesor.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-lg-1 col-form-label">{{ form.tipo.label_tag }}</label>
                                <div class="col-lg-2">
                                    <div class="inline-radio" style="padding: 5px 0;">
                                        {% for radio in form.tipo %}
                                            <label class="radio-inline">
                                                {{ radio.tag }}
                                                {{ radio.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    {% if form.tipo.help_text %}
                                        <span class="help-block">{{ form.tipo.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.tipo.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-1 col-form-label"
                                       id="label-reservable">{{ form.Reservable.label_tag }}</label>
                                <div class="col-lg-4">
                                    <select name="Reservable" id="id_Reservable" class="form-control select2_Reservable"
                                            data-url="{% url 'filter_reservables' %}">
                                        {% for reservable in form.Reservable.field.queryset %}
                                            <option value="{{ reservable.id }}">{{ reservable.Nombre }}</option>
                                        {% endfor %}
                                    </select>

                                    {% if form.Reservable.help_text %}
                                        <span class="help-block">{{ form.Reservable.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.Reservable.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <label class="col-lg-1 col-form-label">{{ form.Fecha.label_tag }}</label>
                                <div class="col-lg-3">
                                    {{ form.Fecha }}
                                    {% if form.Fecha.help_text %}
                                        <span class="help-block">{{ form.Fecha.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.Fecha.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="panel panel-info" id="TramosHorarios">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> Selecciona uno o varios tramos horarios
                                    disponibles
                                </div>
                                <div class="panel-body">
                                    <div class="row align-self-center">


                                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="1"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="">1ª Hora
                                            </button>
                                        </div>
                                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="2"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="">2ª Hora
                                            </button>
                                        </div>
                                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="3"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="">3ª Hora
                                            </button>
                                        </div>
                                        <div class="col-12 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="4"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    style="width:80%" data-toggle="tooltip"
                                                    data-placement="top" title="">
                                                Recreo
                                            </button>
                                        </div>
                                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="5"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="">4ª Hora
                                            </button>
                                        </div>
                                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="6"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="">5ª Hora
                                            </button>
                                        </div>
                                        <div class="col-6 col-sm-4 text-center" style="margin-top: 15px;">
                                            <button type="button" data-reference="7"
                                                    class="tramo btn btn-lg btn-light border border-secondary"
                                                    data-toggle="tooltip"
                                                    data-placement="top" title="">6ª Hora
                                            </button>
                                        </div>


                                    </div>
                                </div>

                            </div>


                            <div class="form-group row" id="row-periodicidad">
                                <label class="col-lg-1 col-form-label">Periodicidad: </label>
                                <div class="col-lg-2">
                                    <div class="inline-radio" style="padding: 5px 0;">
                                        {% for radio in form.periodicidad %}
                                            <label class="radio-inline">
                                                {{ radio.tag }}
                                                {{ radio.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    {% if form.periodicidad.help_text %}
                                        <span class="help-block">{{ form.periodicidad.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.periodicidad.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--<div id="num_semanas_container" style="display: none" class="col-lg-9">-->
                                <label class="col-lg-2 col-form-label" id="label-semanas"
                                       style="display: none">{{ form.num_semanas.label_tag }}</label>
                                <div class="col-lg-2" id="field-semanas" style="display: none">
                                    {{ form.num_semanas }}
                                    {% if form.num_semanas.help_text %}
                                        <span class="help-block">{{ form.num_semanas.help_text }}</span>
                                    {% endif %}
                                    {% for error in form.num_semanas.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <!--</div>-->


                            </div>


                            <br/>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{% url 'verreservas' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                        <br/><br/>

                        <!-- Sección para mostrar errores del formulario -->
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        <li>{{ field }}: {{ errors }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script src="{% static 'js/plugins/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>


    <script>

        $(document).ready(function () {

            const tooltipTriggerList = document.querySelectorAll('[data-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            $(".touchspin1").TouchSpin({
                min: 1,
                max: 50,
                step: 1,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".select2_Reservable").select2({
                theme: 'bootstrap4',
                placeholder: "Selecciona un recurso/espacio",
                allowClear: false
            });

            $(".select2_Profesor").select2({
                theme: 'bootstrap4',
                placeholder: "Selecciona un/a profesor/a",
                allowClear: false
            });


            var mem = $('#id_Fecha').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                language: "es",
                startDate: new Date()
            }).on('changeDate', function (e) {
                $('#TramosHorarios').show();
                $('#row-periodicidad').show();
            });

            // Función para cargar los reservables según el tipo seleccionado
            function cargarReservables(tipo_id) {
                var $reservableSelect = $('#id_Reservable');  // Seleccionar el select por id
                var $reservableLabel = $('#label-reservable');

                if (tipo_id == 1) {
                    $reservableLabel.text("Espacio:");
                } else if (tipo_id == 2) {
                    $reservableLabel.text("Recurso:");
                } else {
                    $reservableLabel.text("Reservable:");
                }

                $.ajax({
                    url: $reservableSelect.data('url'),
                    data: {
                        'tipo_id': tipo_id
                    },
                    success: function (data) {
                        // Vaciar el select
                        $reservableSelect.empty();

                        // Añadir las nuevas opciones
                        $.each(data, function (key, value) {
                            $reservableSelect.append('<option value="' + value.id + '">' + value.Nombre + '</option>');
                        });

                        // Refrescar Select2
                        $reservableSelect.trigger('change');
                    }
                });
            }


            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            }).on('ifChecked', function (event) {
                var tipo_id = $(this).val();
                cargarReservables(tipo_id);
            });

            // Inicializar radio buttons de periodicidad
            $('.i-checks2').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            }).on('ifChecked', function () {
                var periodicidad = $(this).val();
                if (periodicidad === 'semanal') {
                    $('#label-semanas').show();
                    $('#field-semanas').show();
                } else {
                    $('#label-semanas').hide();
                    $('#field-semanas').hide();
                }
            });

            // Mostrar/ocultar el campo de número de semanas según la opción seleccionada al cargar la página
            var periodicidad_inicial = $('input[name="periodicidad"]:checked').val();
            if (periodicidad_inicial === 'semanal') {
                $('#label-semanas').show();
                $('#field-semanas').show();
            } else {
                $('#label-semanas').hide();
                $('#field-semanas').hide();
            }

            // Trigger the change event on page load to load the default reservables
            var tipo_id_inicial = $('input[name="tipo"]:checked').val();
            cargarReservables(tipo_id_inicial);

            $('#TramosHorarios').hide();
            $('#row-periodicidad').hide();

            var tramosSeleccionados = [];

            function actualizarTramosSeleccionados() {
                $('#tramos_seleccionados').val(JSON.stringify(tramosSeleccionados));
            }


            // Función para verificar la disponibilidad de los tramos horarios
            function verificarDisponibilidad() {
                var reservable_id = $('#id_Reservable').val();
                var fecha = $('#id_Fecha').val();

                if (reservable_id && fecha) {
                    $.ajax({
                        url: '{% url "verificar_disponibilidad" %}',
                        data: {
                            'reservable_id': reservable_id,
                            'fecha': fecha
                        },
                        success: function (data) {

                            // Habilitar o deshabilitar los botones según la disponibilidad
                            $('.tramo').each(function () {
                                var hora = $(this).data('reference');
                                var disponibilidad = data['hora' + hora];

                                if (disponibilidad) {

                                    // Condición para mostrar u ocultar el tooltip
                                    if (disponibilidad.existe_reserva) {
                                        $(this).prop('disabled', true).addClass('btn-danger').removeClass('btn-light');
                                        $(this).attr('title', `Reservado por: ${disponibilidad.profesor_nombre}`);
                                        $(this).tooltip('enable');  // Habilitar el tooltip
                                    } else {
                                        $(this).prop('disabled', false).addClass('btn-light').removeClass('btn-danger');
                                        $(this).attr('title', '');
                                        $(this).tooltip('disable');  // Deshabilitar el tooltip
                                    }

                                }
                            });

                            // Inicializar tooltips (si aún no están)
                            $('.tramo').tooltip({
                                trigger: 'hover',
                                placement: 'top',
                                title: function () {
                                    return $(this).attr('title');
                                }
                            });

                        }
                    });
                }
            }

            // Verificar disponibilidad al cambiar la fecha o el reservable
            $('#id_Reservable, #id_Fecha').on('change', verificarDisponibilidad);

            // Verificar disponibilidad al cargar la página
            //verificarDisponibilidad();


            //ALTENAR LOS BOTONES DE LOS TRAMOS
            $('.tramo').off('click');
            $('.tramo').on('click', function () {
                var n = $(this).data("reference");
                if ($('.tramo[data-reference="' + n + '"]').val() == "") {
                    if ($('.tramo[data-reference="' + n + '"]').hasClass("btn-danger")) {
                        $('.tramo[data-reference="' + n + '"]').val('deseleccionado');
                        $('.tramo[data-reference="' + n + '"]').attr("class", "tramo btn btn-lg btn-light border border-secondary");
                    } else {
                        $('.tramo[data-reference="' + n + '"]').val('seleccionado');
                        $('.tramo[data-reference="' + n + '"]').attr("class", "btn btn-lg btn-danger tramo");
                    }
                } else if ($('.tramo[data-reference="' + n + '"]').val() == "deseleccionado") {
                    $('.tramo[data-reference="' + n + '"]').val('seleccionado');
                    $('.tramo[data-reference="' + n + '"]').attr("class", "btn btn-lg btn-danger tramo");
                } else {
                    $('.tramo[data-reference="' + n + '"]').val('deseleccionado');
                    $('.tramo[data-reference="' + n + '"]').attr("class", "tramo btn btn-lg btn-light border border-secondary");
                }

                // Actualizar el campo oculto con los tramos seleccionados
                var tramos_seleccionados = [];
                $('.tramo').each(function () {
                    if ($(this).val() === 'seleccionado') {
                        tramos_seleccionados.push($(this).data('reference'));
                    }
                });
                $('#tramos_seleccionados').val(JSON.stringify(tramos_seleccionados));

                if (tramos_seleccionados.length > 0) {
                    $("#botonEnviarReservar").removeAttr('disabled');
                } else {
                    $("#botonEnviarReservar").prop("disabled", true);
                }
            });


        });

    </script>
{% endblock %}
