<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <div class="navbar-title-custom" onclick="location.href='/';"
                             style="cursor: pointer;">
                <h2>Gestiona <strong>IESGN</strong></h2>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">
                    Bienvenid@ <strong>
                    {% if user.profesor %}
                        {{ user.profesor }}
                    {% else %}
                        {{ user }}
                    {% endif %}
                    </strong>
                </span>
            </li>
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> Desconectar
                </a>
            </li>
        </ul>
    </nav>
</div>
