{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login - Gestiona{% endblock %}</title>

    <!-- Theme Config Js -->
    <script src="{% static 'js/config.js' %}"></script>

    <!-- Vendor css -->
    <link href="{% static 'css/vendors.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App css -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
</head>


<body>

<div class="auth-box d-flex align-items-center">
    <div class="container-xxl">
        {% block content %}{% endblock %}
    </div>
</div>
<!-- end auth-fluid-->


<!-- Theme Config Js -->
<script src="{% static 'js/vendors.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
