{% extends "base.html" %}
{% load static %}
{% load grupo_tags %}

{% block title %}Centro{% endblock %}

{% block css %}

    <!-- Datatables css -->
    <link href="{% static 'plugins/datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Datepicker Plugin CSS -->
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}" type="text/css">

    <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}




{% block content %}


    <div class="container-fluid">
        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">Incidencias TIC</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <ul class="nav nav-tabs nav-bordered mb-3">
                            <li class="nav-item">
                                <a href="#tab-pendientes" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                    <span class="badge badge-label text-bg-warning">PENDIENTES</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-resueltas" data-bs-toggle="tab" aria-expanded="true"
                                   class="nav-link active">
                                    <span class="badge badge-label text-bg-primary">RESUELTAS</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane show active" id="tab-pendientes">
                                <table class="table table-striped table-bordered table-hover dt-responsive align-middle mt-2 mb-0 dataTables-incidencias-pendientes">
                                    <thead class="thead-sm text-uppercase fs-xxs">

                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Prioridad</th>
                                        <th class="text-center">Descripción</th>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center">Aula</th>
                                        <th class="text-center">Elementos</th>
                                        <th class="text-center">Profesor</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for l in incidencias_pendientes %}
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;"
                                                class="text-center">{{ l.id }}</td>

                                            {% if l.prioridad.nombre == "Alta" %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-danger">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% elif l.prioridad.nombre == "Media" %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-warning">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% elif l.prioridad.nombre == "Baja" %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-primary">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% else %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-info">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% endif %}

                                            <td>{{ l.comentario }}</td>
                                            <td style="text-align: center; vertical-align: middle;">{{ l.fecha|date:"d/m/Y" }}</td>
                                            <td style="text-align: center; vertical-align: middle;">{{ l.aula }}</td>

                                            <td style="text-align: center; vertical-align: middle;">
                                                {% for elemento in l.elementos.all %}
                                                    {{ elemento.nombre }}{% if not forloop.last %},
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">{{ l.profesor }}</td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <a class="btn btn-primary btn-icon resolver-pendiente"
                                                   style="color: white" data-bs-toggle="tooltip"
                                                   data-bs-placement="top" data-bs-title="Resolver"
                                                   data-id="{{ l.id }}">
                                                    <i class="ti ti-check"></i>
                                                </a>
                                                <a class="btn btn-danger btn-icon borrar-pendiente"
                                                   style="color: white" data-bs-toggle="tooltip"
                                                   data-bs-placement="top" data-bs-title="Borrar" data-id="{{ l.id }}">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab-resueltas">
                                <table class="table table-striped table-bordered table-hover dt-responsive align-middle mt-2 mb-0 dataTables-incidencias-resueltas">
                                    <thead class="thead-sm text-uppercase fs-xxs">

                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Prioridad</th>
                                        <th class="text-center">Descripción</th>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center">Aula</th>
                                        <th class="text-center">Elementos</th>
                                        <th class="text-center">Profesor</th>
                                        <th class="text-center">Solución</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for l in incidencias_resueltas %}
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle;"
                                                class="text-center">{{ l.id }}</td>



                                            {% if l.prioridad.nombre == "Alta" %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-danger">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% elif l.prioridad.nombre == "Media" %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-warning">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% elif l.prioridad.nombre == "Baja" %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-primary">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% else %}
                                                <td style="text-align: center; vertical-align: middle;"><span
                                                        class="badge badge-label text-bg-info">{{ l.prioridad.nombre }}</span>
                                                </td>
                                            {% endif %}

                                            <td>{{ l.comentario }}</td>
                                            <td style="text-align: center; vertical-align: middle;">{{ l.fecha|date:"d/m/Y" }}</td>
                                            <td style="text-align: center; vertical-align: middle;">{{ l.aula }}</td>

                                            <td style="text-align: center; vertical-align: middle;">
                                                {% for elemento in l.elementos.all %}
                                                    {{ elemento.nombre }}{% if not forloop.last %},
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">{{ l.profesor }}</td>
                                            <td>{{ l.solucion }}</td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <a class="btn btn-danger btn-icon" style="color: white"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   data-bs-title="Borrar">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div> <!-- end card-body-->

                </div>
                <div class="card-footer border-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div data-table-pagination-info="projects"></div>
                        <div data-table-pagination></div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->


        <div class="page-title-head d-flex align-items-center">
            <div class="flex-grow-1">
                <h4 class="fs-sm text-uppercase fw-bold m-0">incidencias TIC (cursos académicos anteriores)</h4>
            </div>
        </div>


        {% for curso, incidencias_a in incidencias_anteriores.items %}

            <div class="row">
                <div class="col-12">
                    <div data-table data-table-rows-per-page="20" class="card">
                        <div class="card-header border-light justify-content-between text-bg-info bg-gradient">
                            <h4>{{ curso }}</h4>

                        </div>

                        <div class="card-body">
                            <table class="table table-striped table-bordered table-hover dt-responsive align-middle mb-0 dataTables-incidenciasantiguas">
                                <thead class="thead-sm text-uppercase fs-xxs">

                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Prioridad</th>
                                    <th class="text-center">Descripción</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Aula</th>
                                    <th class="text-center">Elementos</th>
                                    <th class="text-center">Profesor/a</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Solución</th>
                                    <th class="text-center">Acciones</th>
                                </tr>


                                </thead>
                                <tbody>
                                {% for l in incidencias_a %}
                                    <tr>
                                        <td class="text-center">{{ l.id }}</td>


                                        {% if l.prioridad.nombre == "Alta" %}
                                            <td style="text-align: center; vertical-align: middle;"><span
                                                    class="badge badge-label text-bg-danger">{{ l.prioridad.nombre }}</span>
                                            </td>
                                        {% elif l.prioridad.nombre == "Media" %}
                                            <td style="text-align: center; vertical-align: middle;"><span
                                                    class="badge badge-label text-bg-warning">{{ l.prioridad.nombre }}</span>
                                            </td>
                                        {% elif l.prioridad.nombre == "Baja" %}
                                            <td style="text-align: center; vertical-align: middle;"><span
                                                    class="badge badge-label text-bg-primary">{{ l.prioridad.nombre }}</span>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center; vertical-align: middle;"><span
                                                    class="badge badge-label text-bg-info">{{ l.prioridad.nombre }}</span>
                                            </td>
                                        {% endif %}

                                        <td>{{ l.comentario }}</td>
                                        <td>{{ l.fecha|date:"d/m/Y" }}</td>
                                        <td>{{ l.aula }}</td>

                                        <td>
                                            {% for elemento in l.elementos.all %}
                                                {{ elemento.nombre }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">{{ l.profesor }}</td>
                                        <td>
                                            {% if l.resuelta %}
                                                <span class="badge badge-label text-bg-primary">Resuelta</span>
                                            {% else %}
                                                <span class="badge badge-label text-bg-warning-warning">Pendiente</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ l.solucion }}</td>

                                        <td style="text-align: center; vertical-align: middle;">
                                            {% if not l.resuelta %}
                                                <a class="btn btn-primary btn-icon resolver-pendiente"
                                                   style="color: white" data-bs-toggle="tooltip"
                                                   data-bs-placement="top" data-bs-title="Resolver"
                                                   data-id="{{ l.id }}">
                                                    <i class="ti ti-check"></i>
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-danger btn-icon borrar-antigua"
                                               style="color: white" data-bs-toggle="tooltip"
                                               data-bs-placement="top" data-bs-title="Borrar" data-id="{{ l.id }}">
                                                <i class="ti ti-trash"></i>
                                            </a>
                                        </td>

                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div> <!-- end card-body-->

                    </div>
                    <div class="card-footer border-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div data-table-pagination-info="projects"></div>
                            <div data-table-pagination></div>
                        </div>
                    </div>
                </div>

            </div><!-- end col -->



        {% endfor %}


    </div><!-- end row -->

    <!-- Modal para mostrar los detalles -->

{% endblock %}

{% block js %}

    <!-- Datatables js -->
    <script src="{% static 'plugins/datatables/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/responsive.bootstrap5.min.js' %}"></script>



    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>

    <!-- Daterpicker Plugin Js -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.es.min.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>

    <script>

        jQuery.extend(jQuery.fn.dataTable.ext.type.order, {
            "date-eu-pre": function (date) {
                // Si la fecha está vacía o mal formada, devolvemos valor alto para dejarla al final
                if (!date || date.trim() === '') {
                    return 0;
                }

                const eu_date = date.split('/');
                // dd/mm/yyyy → yyyy+mm+dd como número
                return (eu_date[2] + eu_date[1] + eu_date[0]) * 1;
            },
            "date-eu-asc": function (a, b) {
                return a - b;
            },
            "date-eu-desc": function (a, b) {
                return b - a;
            }
        });


        $(document).ready(function () {


            var tablePendientes = $('.dataTables-incidencias-pendientes').DataTable({
                dom: "<'d-md-flex justify-content-between align-items-center my-2'<'dropdown'B>f>" +
                    "rt" +
                    "<'d-md-flex justify-content-between align-items-center mt-2'ip>",
                responsive: true,
                pageLength: 50,
                fixedHeader: {
                    header: true,
                    headerOffset: 65
                },
                buttons: [
                    {
                        extend: 'collection',
                        text: '<i class="ti ti-download me-1"></i> Exportar datos',
                        className: 'btn btn-sm btn-secondary dropdown-toggle',
                        autoClose: true,
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="ti ti-copy me-1 fs-lg align-middle"></i> Copiar',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="ti ti-file-type-csv me-1 fs-lg align-middle"></i> CSV',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1 fs-lg align-middle"></i> Excel',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'print',
                                text: '<i class="ti ti-printer me-1 fs-lg align-middle"></i> Imprimir',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-text me-1 fs-lg align-middle"></i> PDF',
                                className: 'dropdown-item'
                            }
                        ]
                    }
                ],

                columnDefs: [
                    {
                        targets: 3,
                        type: 'date-eu'
                    }
                ],


                order: [[3, 'desc']],
                language: {
                    url: "{% static 'plugins/datatables/es-ES.json' %}",
                    paginate: {
                        first: '<i class="ti ti-chevrons-left"></i>',
                        previous: '<i class="ti ti-chevron-left"></i>',
                        next: '<i class="ti ti-chevron-right"></i>',
                        last: '<i class="ti ti-chevrons-right"></i>'
                    }
                }

            });

            var tableResueltas = $('.dataTables-incidencias-resueltas').DataTable({
                dom: "<'d-md-flex justify-content-between align-items-center my-2'<'dropdown'B>f>" +
                    "rt" +
                    "<'d-md-flex justify-content-between align-items-center mt-2'ip>",
                responsive: true,
                pageLength: 50,
                fixedHeader: {
                    header: true,
                    headerOffset: 65
                },
                buttons: [
                    {
                        extend: 'collection',
                        text: '<i class="ti ti-download me-1"></i> Exportar datos',
                        className: 'btn btn-sm btn-secondary dropdown-toggle',
                        autoClose: true,
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="ti ti-copy me-1 fs-lg align-middle"></i> Copiar',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="ti ti-file-type-csv me-1 fs-lg align-middle"></i> CSV',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1 fs-lg align-middle"></i> Excel',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'print',
                                text: '<i class="ti ti-printer me-1 fs-lg align-middle"></i> Imprimir',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-text me-1 fs-lg align-middle"></i> PDF',
                                className: 'dropdown-item'
                            }
                        ]
                    }
                ],

                columnDefs: [
                    {
                        targets: 3,
                        type: 'date-eu'
                    }
                ],


                order: [[3, 'desc']],
                language: {
                    url: "{% static 'plugins/datatables/es-ES.json' %}",
                    paginate: {
                        first: '<i class="ti ti-chevrons-left"></i>',
                        previous: '<i class="ti ti-chevron-left"></i>',
                        next: '<i class="ti ti-chevron-right"></i>',
                        last: '<i class="ti ti-chevrons-right"></i>'
                    }
                }

            });

            var tableAntiguas = $('.dataTables-incidenciasantiguas').DataTable({
                dom: "<'d-md-flex justify-content-between align-items-center my-2'<'dropdown'B>f>" +
                    "rt" +
                    "<'d-md-flex justify-content-between align-items-center mt-2'ip>",
                responsive: true,
                pageLength: 50,
                fixedHeader: {
                    header: true,
                    headerOffset: 65
                },
                buttons: [
                    {
                        extend: 'collection',
                        text: '<i class="ti ti-download me-1"></i> Exportar datos',
                        className: 'btn btn-sm btn-secondary dropdown-toggle',
                        autoClose: true,
                        buttons: [
                            {
                                extend: 'copy',
                                text: '<i class="ti ti-copy me-1 fs-lg align-middle"></i> Copiar',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'csv',
                                text: '<i class="ti ti-file-type-csv me-1 fs-lg align-middle"></i> CSV',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1 fs-lg align-middle"></i> Excel',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'print',
                                text: '<i class="ti ti-printer me-1 fs-lg align-middle"></i> Imprimir',
                                className: 'dropdown-item'
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-text me-1 fs-lg align-middle"></i> PDF',
                                className: 'dropdown-item'
                            }
                        ]
                    }
                ],

                columnDefs: [
                    {
                        targets: 3,
                        type: 'date-eu'
                    }
                ],


                order: [[3, 'desc']],
                language: {
                    url: "{% static 'plugins/datatables/es-ES.json' %}",
                    paginate: {
                        first: '<i class="ti ti-chevrons-left"></i>',
                        previous: '<i class="ti ti-chevron-left"></i>',
                        next: '<i class="ti ti-chevron-right"></i>',
                        last: '<i class="ti ti-chevrons-right"></i>'
                    }
                }

            });

            $(document).on('click', '.borrar-antigua', function(e) {
                var incidenciaId = $(this).data('id');
                var row = $(this).closest('tr'); // Obtener la fila de la tabla


                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "No podrás volver a recuperar esta incidencia.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, borrar.",
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            url: '{% url "eliminar_incidencia" %}', // Asegúrate de que esta URL sea la correcta
                            method: 'POST',
                            data: {
                                'id': incidenciaId,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        title: "¡Borrada!",
                                        text: "La incidencia ha sido borrada.",
                                        icon: "success"
                                    });

                                    // Eliminar la fila de la tabla
                                    tableAntiguas.row(row).remove().draw();
                                } else {
                                    Swal.fire({
                                        title: "Error",
                                        text: "No se pudo borrar la incidencia.",
                                        icon: "error"
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.fire({
                                    title: "Error",
                                    text: "Ocurrió un error al intentar borrar la incidencia.",
                                    icon: "error"
                                });
                            }
                        });


                    }
                });
            });

           $(document).on('click', '.borrar-pendiente', function(e) {
                var incidenciaId = $(this).data('id');
                var row = $(this).closest('tr'); // Obtener la fila de la tabla


                Swal.fire({
                    title: "¿Estás seguro?",
                    text: "No podrás volver a recuperar esta incidencia.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, borrar.",
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            url: '{% url "eliminar_incidencia" %}', // Asegúrate de que esta URL sea la correcta
                            method: 'POST',
                            data: {
                                'id': incidenciaId,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        title: "¡Borrada!",
                                        text: "La incidencia ha sido borrada.",
                                        icon: "success"
                                    });

                                    // Eliminar la fila de la tabla
                                    tablePendientes.row(row).remove().draw();
                                } else {
                                    Swal.fire({
                                        title: "Error",
                                        text: "No se pudo borrar la incidencia.",
                                        icon: "error"
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.fire({
                                    title: "Error",
                                    text: "Ocurrió un error al intentar borrar la incidencia.",
                                    icon: "error"
                                });
                            }
                        });


                    }
                });
            });

            $(document).on('click', '.resolver-pendiente', function(e) {
                var incidenciaId = $(this).data('id');
                var row = $(this).closest('tr'); // Obtener la fila de la tabla
                Swal.fire({
                    title: "¿Cómo lo has resuelto?",
                    input: "textarea",
                    inputAttributes: {
                        autocapitalize: "off"
                    },
                    showCancelButton: true,
                    confirmButtonText: "Resolver",
                    showLoaderOnConfirm: true,
                    preConfirm: (solucion) => {
                        return new Promise((resolve, reject) => {
                            $.ajax({
                                url: '{% url "actualizar_incidencia" %}', // Actualiza la URL según corresponda
                                type: 'POST',
                                data: {
                                    'id': incidenciaId,
                                    'solucion': solucion,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}' // Asegúrate de que el CSRF token esté presente
                                },
                                success: function (response) {
                                    resolve(response);
                                },
                                error: function (xhr, status, error) {
                                    reject('Error al actualizar la incidencia');
                                }
                            });
                        }).then(response => {
                            if (!response.success) {
                                Swal.showValidationMessage('Error: ' + response.message);
                            }
                            return response;
                        }).catch(error => {
                            Swal.showValidationMessage('Error: ' + error);
                        });
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '¡Incidencia resuelta!',
                            text: 'La incidencia ha sido marcada como resuelta.',
                            icon: 'success'
                        }).then(() => {
                            location.reload();
                        });
                    }
                });
            });

        });


    </script>
{% endblock %}
